.circleci
.dockerignore
.gitignore
.lein-*
figwheel_server.log
andb-*.json

node_modules/

resources/public/css/
!resources/public/css/carousel.css

resources/public/img/cards/
!resources/public/img/cards/brewery.png
!resources/public/img/cards/greenhouse.png
!resources/public/img/cards/sync.png
!resources/public/img/cards/tank.png

resources/public/js/
target/
test/
out/
data/
