node_modules

figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

/resources/public/js/
/resources/public/cljs/
/resources/public/lib/
/resources/public/css/
/resources/public/img/cards
/data/andb-*.json
/data/img
/.lein-failures
