.DS_Store
node_modules

*.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.nrepl-history
.rebel_readline_history
.idea
.eastwood
.cache
*.archive

data/promos.edn

/resources/public/img/card-backs/runner/
/resources/public/img/card-backs/corp/
/resources/public/img/card-backs/both/
/resources/public/js/
/resources/public/cljs/
/resources/public/cljs-out/
/resources/public/css/
/resources/public/img/cards/
/resources/public/sound/
/data/andb-*.json
/data/cards*.edn
/data/cycles.edn
/data/formats.edn
/data/mwls.edn
/data/sets.edn
/data/img
/data/card-backs.edn
/.lein-failures

config.edn
resources/prod.edn

# MongoDB files
*.wt
*.lock
*.turtle
data/WiredTiger
data/diagnostic.data
data/journal
data/storage.bson
data/_mdb_catalog.wt.1
data/sizeStorer.wt.1

#Calva
.calva/*

tags
tags.temp
tags.temp.tmp

.lsp/
.shadow-cljs/
tests-user.edn
data/cards-ca.edn
data/cards-de.edn
data/cards-es.edn
data/cards-fr.edn
data/cards-it.edn
data/cards-ja.edn
data/cards-ko.edn
data/cards-pl.edn
data/cards-pt.edn
data/cards-ru.edn
data/cards-zh-hans.edn
data/cards-zh-hant.edn
