; Copy this file as "config.edn" and edit it to change local settings. Do not commit that file.
{:trello-auth
        {:key     nil
         :token   nil
         :list-id nil}
 :db    {:address "localhost"
         :port    27017
         :name    "netrunner"}
 :auth  {:expiration 60
         :secret     "Dev salt"
         :cookie     {:http-only true
                      :max-age   5184000                    ; 60 days
                      }}
 :web   {:port 1042}
 :email {:host nil
         :user nil
         :pass nil
         :ssl  nil}}