{:lein true
 :nrepl {:port 39039}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :devtools {:watch-dir "resources/public/css"
                   :watch-path "/css"
                   :repl-init-ns dev.nr}
        :dev {:modules {:main {:entries [dev.nr]}}}
        :release {:modules {:main {:entries [prod.nr]}}}}}}
