{:lein true
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :devtools {:watch-dir "resources/public/css"
                   :watch-path "/css"
                   :repl-init-ns nr.dev}
        :dev {:modules {:main {:entries [nr.dev]}}}
        :release {:modules {:main {:entries [prod.nr]}}}}}}
