extends layout

block content
  nav.topnav.blue-shade
    ul.carousel-indicator
      li.active(data-target="#main", data-slide-to="0", data-url="/")
        a(href="/") Manabase
      li(data-target="#main", data-slide-to="1", data-url="/play")
        a(href="/play") Play
      li(data-target="#main", data-slide-to="2", data-url="/deckbuilder")
        a(href="/deckbuilder") Deck Builder
      li(data-target="#main", data-slide-to="3", data-url="/cards")
        a(href="/cards") Cards
      li(data-target="#main", data-slide-to="4", data-url="/news")
        a(href="/news") News

  div#main.carousel.slide(data-interval="false")
    div.carousel-inner
      div.item.active
        div.home-bg
        div.container
          h1 Play Android: Netrunner in your browser
          div#chat

      div.item
        div.lobby-bg
        div#gameboard

      div.item
        div.deckbuilder-bg
        div#deckbuilder

      div.item
        div.library-bg

      div.item
        div.forum-bg
