extends layout

block content
  nav.topnav.blue-shade
    div#left-menu
    div#right-menu

  div#auth-forms

  div#main.carousel.slide(data-interval="false")
    div.carousel-inner
      div.item.active
        div.home-bg
        div.container
          h1 Play Android: Netrunner in your browser
          div#chat

      div.item
        div.cardbrowser-bg
        div#cardbrowser

      div.item
        div.deckbuilder-bg
        div.container
          div#deckbuilder

      div.item
        div.lobby-bg
        div#gameboard

      div.item
        div.about-bg
