doctype html
html
  head
    meta(charset="utf-8")
    title Jinteki
    link(rel='stylesheet', href='/css/netrunner.css')
  body
    div.reset-bg
    form.panel.blue-shade.reset-form(method='POST')
      h3 Password Reset
      p
        input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true required)
      p
        input.form-control(type='password', name='confirm', value='', placeholder='Confirm password' required)
      p
        button.btn.btn-primary(type='submit') Update Password