doctype html
html
  head
    meta(charset="utf-8")
    title Jinteki
    link(rel='stylesheet', href='/css/netrunner.css')
  body
    div.reset-bg
    form.panel.blue-shade.reset-form(method='POST')
      h3 App Version
      p
        input(type='text', name='version', value='#{version}')
      p
        button.btn.btn-primary(type='submit') Submit