{:linters
 {:unused-binding {:exclude-defmulti-args true
                   :exclude-destructured-as true}
  :unresolved-symbol
  {:exclude [(game.macros/req [state side eid card targets target context
                               runner corp run run-server run-ices run-position
                               current-ice corp-reg corp-reg-last runner-reg
                               runner-reg-last installed remotes servers
                               unprotected runnable-servers hq-runnable rd-runnable
                               archives-runnable tagged this-card-run this-server
                               corp-currently-drawing runner-currently-drawing])
             (game.macros/effect [state side eid card targets target context
                                  runner corp run run-server run-ices run-position
                                  current-ice corp-reg corp-reg-last runner-reg
                                  runner-reg-last installed remotes servers
                                  unprotected runnable-servers hq-runnable rd-runnable
                                  archives-runnable tagged this-card-run this-server
                                  corp-currently-drawing runner-currently-drawing])
             (game.macros/msg [state side eid card targets target context
                               runner corp run run-server run-ices run-position
                               current-ice corp-reg corp-reg-last runner-reg
                               runner-reg-last installed remotes servers
                               unprotected runnable-servers hq-runnable rd-runnable
                               archives-runnable tagged this-card-run this-server
                               corp-currently-drawing runner-currently-drawing])
             (game.macros/wait-for [async-result])
             (game.test-framework/do-game [state get-corp get-runner get-run refresh
                                           hand-size prompt-map prompt-button
                                           prompt-type prompt-buttons prompt-titles
                                           prompt-fmt])
             (game.core/req [state side eid card targets target context
                             runner corp run run-server run-ices run-position
                             current-ice corp-reg corp-reg-last runner-reg
                             runner-reg-last installed remotes servers
                             unprotected runnable-servers hq-runnable rd-runnable
                             archives-runnable tagged this-card-run this-server
                             corp-currently-drawing runner-currently-drawing])
             (game.core/effect [state side eid card targets target context
                                runner corp run run-server run-ices run-position
                                current-ice corp-reg corp-reg-last runner-reg
                                runner-reg-last installed remotes servers
                                unprotected runnable-servers hq-runnable rd-runnable
                                archives-runnable tagged this-card-run this-server
                                corp-currently-drawing runner-currently-drawing])
             (game.core/msg [state side eid card targets target context
                             runner corp run run-server run-ices run-position
                             current-ice corp-reg corp-reg-last runner-reg
                             runner-reg-last installed remotes servers
                             unprotected runnable-servers hq-runnable rd-runnable
                             archives-runnable tagged this-card-run this-server
                             corp-currently-drawing runner-currently-drawing])
             (game.core/wait-for [async-result])]}
  :invalid-arity {:skip-args [game.macros/effect game.macros/wait-for
                              game.core/effect game.core/wait-for]}
  :unused-namespace {:exclude ["game.core.*"]}
  :refer-all {:level :off}
  }
 :lint-as {game.test-framework/before-each clojure.core/let
           reagent.core/with-let clojure.core/let
           game.macros/when-let* clojure.core/let
           game.core/req game.macros/req
           game.core/effect game.macros/effect
           game.core/msg game.macros/msg
           game.core/wait-for game.macros/wait-for
           game.test-framework/deftest-pending clojure.test/deftest
           game.test-framework/dont-use-me clj-kondo.lint-as/def-catch-all
           game.core/expose-vars potemkin/import-vars
           monger.operators/defoperator clojure.core/def
           monger.query/with-collection clojure.core/->
           }
 :config-paths ["rewrite-clj/rewrite-clj"]
 :output {:langs true}
 }
