{:config-paths ["../resources/clj-kondo.exports/netrunner"]
 :linters
 {:unused-binding {:exclude-defmulti-args true
                   :exclude-destructured-as true
                   :exclude-destructured-keys-in-fn-args true}
  :clojure-lsp/unused-public-var {:level :off}
  :unresolved-symbol
  {:exclude [(game.test-framework/do-game [state get-corp get-runner get-run refresh
                                           hand-size prompt-map prompt-button
                                           prompt-type prompt-buttons prompt-titles
                                           prompt-fmt])]}
  :unused-namespace {:exclude ["game.core.*"]}
  :refer-all {:level :off}
  }
 :lint-as {game.test-framework/before-each clojure.core/let
           reagent.core/with-let clojure.core/let
           game.macros/when-let* clojure.core/let
           game.core/effect game.macros/effect
           game.core/msg game.macros/msg
           game.core/req game.macros/req
           game.core/wait-for game.macros/wait-for
           game.test-framework/deftest-pending clojure.test/deftest
           game.test-framework/dont-use-me clj-kondo.lint-as/def-catch-all
           game.core/expose-vars potemkin/import-vars
           monger.operators/defoperator clojure.core/def
           monger.query/with-collection clojure.core/->
           }
 :hooks {:analyze-call {game.core.l10n/simple-msg hooks.netrunner/effect
                        game.core.l10n/msg-with-cost hooks.netrunner/effect}}
 :output {:langs true}
 }
