@require "opacity"
@require "palette"
// Auth

.new-theme
    #auth-forms, .reset-form
        input
            border-color: var(--theme-primary)
    .flash-message
        color: var(--warning-orange-dark)
