showLabel()
  background: linear-gradient(180deg, rgba(20,20,20,0.85) 0%, rgba(20,20,20,0.7) 65%, rgba(20,20,20,0) 100%)
  text-shadow: 0 0 3px black

iceLabel()
  background: linear-gradient(270deg, rgba(20,20,20,0.85) 0%, rgba(20,20,20,0.7) 65%, rgba(20,20,20,0) 100%)

.new-theme
  .gameboard
    &.show-unrezzed-card-labels
      .centralpane
        .me
          .card
            &:hover
              img + .cardname
                background-color: rgb(50,50,50)
            img + .cardname
              showLabel()
          .ices
            img + .cardname
              iceLabel()

    &.show-card-labels
      .card
        &:hover
          .cardname // ensure label visible when card is hovered
            background-color: rgb(50,50,50) !important
        div + .cardname
          showLabel()

      .me
        .ices
          div + .cardname
            iceLabel()
      .opponent
        .ices
          div + .cardname
            iceLabel()
