// Chat

.new-theme
    .message
        .block-menu
            > div
                border: 1px solid white-solid

                &:hover
                    border-color: var(--theme-primary)

    .log-player-highlight-red-blue
        .corp-username
            color: var(--theme-shadow-color)

        .runner-username
            color: var(--warning-red)
