// Influence dots
.new-theme
    .influence.neutral
        color: white-solid

    // Corps
    .influence.haas-bioroid
        color: var(--hass-purple)

    .influence.jinteki
        color: var(--jinteki-crimson)

    .influence.nbn
        color: var(--nbn-yellow)

    .influence.weyland-consortium
        color: var(--weyland-green)

    // Runners
    .influence.adam
        color: var(--adam-yellow)

    .influence.anarch
        color: var(--anarch-orange)

    .influence.apex
        color: var(--apex-red)

    .influence.criminal
        color: var(--criminal-blue)

    .influence.shaper
        color: var(--shaper-green)

    .influence.sunny-lebeau
        color: var(--sunny-gray)

