// Game Lobby

.new-theme .lobby
    .mod-menu
        > div
            border: 1px solid white-solid

            &:hover
                border-color: var(--theme-primary)

    .game-panel
        border-left: 1px solid white-solid

    .games .button-bar
        .rooms .roomtab
            color: white-solid

            &:hover
                color: var(--theme-primary)

            &.current
                color: var(--theme-primary)

    .gameline
        border: 1px solid white-solid

    .game-panel
        .button-bar .dropdown

            .dropdown-menu
                > .block-link
                    color: white-solid

        .chat-box .message-list
            border: 1px solid white-solid
