@require "opacity"
@require "palette"
// Modal
.new-theme
    .modal-dialog
        border: 1px solid var(--theme-primary)
        background-color: var(--gray-60)

    .modal-backdrop
        background-color: black
