:root {
  // Faction colors
  --adam-yellow: hsl(55, 44%, 40%) // NSG Adam
  --anarch-orange: hsl(19, 75%, 55%) // NSG Anarch
  --apex-red: hsl(0, 100%, 25%) // Apex
  --criminal-blue: hsl(224, 50%, 50%) //NSG Criminal
  --hass-purple: hsl(272, 36%, 50%); // NSG Haas-Bioroid
  --jinteki-crimson: hsl(339, 51%, 40%) // NSG Jinteki
  --nbn-yellow: hsl(52, 100%, 50%) //NSG NBN
  --shaper-green: hsl(118, 42%, 49%) //NSG Shaper
  --sunny-gray: hsl(210, 0%, 60%) //NSG Sunny
  --weyland-green hsl(120, 11%, 45%) //NSG Weyland Base

  // Game Mechanic Colors
  --virus-red: hsla(0, 100%, 50%, 0.80)
  --agenda-counter: hsla(197, 100%, 23%, 0.80)
  --power-counter-purple: hsl(279, 100%, 20%)
  --power-counter-purple-80: hsla(279, 100%, 20%, 0.8)
  --advancement-counter-blue: hsla(224, 50%, 50%, 0.8)
  --bad-pub-yellow: hsla(55, 44%, 40%, 0.8)
  --movement-bg: hsla(61, 76%, 69%, 0.7)

  // Generic
  --gray-80: hsla(0, 0%, 0%, 0.8)
  --gray-60: hsla(0, 0%, 0%, 0.6)
  --gray-20: hsla(0, 0%, 0%, 0.2)

  // Card sizes
  --mulligan-card-width: 10vw;
  --mulligan-ident-width: 15vw;
  --hand-size: 5.6em;
  --stats-line-height: 1rem;

  // Theme
  --link-hover: hsl(224, 50%, 50%)
  --theme-primary: hsl(39, 100%, 50%) // gold
  --theme-primary-40: hsla(39, 100%, 50%, 0.4) // Used for on hover backgrounds
  --theme-primary-30-lighten: hsla(39, 100%, 90%, 0.3) // box shadows
  --theme-primary-spin: spin(hsla(39, 100%, 50%, 0.7), -15deg) // box shadows
  --highlight-help: hsl(55, 44%, 40%)
  --highlight-yellow: hsl(52, 100%, 50%)
  --nav-color: hsl(210, 0%, 60%)
  --selected-button-background: hsla(39, 100%, 39%, 0.9)
  --selected-highlight: hsl(120, 61%, 50%)
  --success-highlight: hsl(120, 61%, 50%)
  --text-color: hsl(0, 0%, 15%)
  --theme-bg-color: hsl(212, 32%, 23%) // main backgrounds
  --theme-bg-color-80: hsla(212, 32%, 23%, 0.8)
  --theme-shadow-color: hsl(199, 100%, 50%) // box shadows and borders
  --theme-shadow-color-lighten: hsla(199, 100%, 90%, 0.3) // box shadows
  --warning-orange-dark: hsl(16, 100%, 55%)
  --warning-red: hsl(0, 100%, 50%)
  --warning-red-shadow: hsl(5, 70%, 49%)
  --warning-red-shadow-lighten: hsla(5, 70%, 90%, 0.3)

  // Replay
  --replay-mistake: hsla(39, 100%, 39%, 0.9)
  --replay-inaccuracy: hsl(41, 83%, 65%)

  //Misc
  --approach-bg: hsla(52, 100%, 50%, 0.7)
  --encounter-bg: hsla(39, 100%, 50%, 0.7)
  --info-box-color: hsl(39, 100%, 75%)
  --info-warning: hsl(197, 100%, 23%) //blue NSG NBN Secondary
  --icon-highlight: hsl(0, 0%, 30%)
  --warning-border-color: hsl(0, 0%, 80%)
  --version-color: hsl(0, 0%, 80%)
  --monochrome-bg: hsl(0, 0%, 15%)
  --dev-menu-color: hsl(61, 76%, 69%)
  --tinted-text-shade: hsla(120, 11%, 45%, 0.8)
  --replay-blue: hsl(224, 50%, 50%)
}
