.new-theme .game-list
    .gameline
        .game-status
            span.not-started
                color: var(--highlight-yellow)
            span.started
                color: var(--success-highlight)
