.about
    .bitcoin
        color: gold-base
        position: relative
        .qr
            display: none
            position: absolute
            top: 1.5rem
            left: 0
            border: 10px solid white-solid
            background-color: white-solid
            transition(all 0.2s ease-in-out)
        &:hover .qr
            display: block
