.about

    .bitcoin
        color: orange
        position: relative

        .qr
            display: none
            position: absolute
            top: 25px
            left: 0
            border: 10px solid white
            background-color: white
            transition(all 0.2s ease-in-out)

        &:hover .qr
            display: block
