#account
    display: block
    height: 100%
    overflow: auto
    margin-top: -31px

    section
        margin-bottom: 20px

    .flash-message
        color: lawngreen
        margin-left: 16px

    input, select
        margin-right: 8px

    input[type="range"]
        position: relative
        top: 9px
        left: 16px

    #alt-art

        div#my-alt-art
            margin-top: 10px

        div.alt-art-group
            clear: both
            margin: 5px 0

            > div
                float: left
                margin: 5px

                > div
                    text-align: center

        #set-all
            clear: both

        img.alt-art-select
            width: 150px
            margin-top: 5px

        .reset-all
            margin-top: 10px
