// Note: Some of the definitions here overwrite styles set in lobby.styl for .lobby .gamepanel
.lobby .angelarena.game-panel 
    display-flex()
    flex-direction(column)
    position:relative

    >div
        position:relative
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin-top: 0
        margin-bottom: 8px
        display: inline

    >h3
        font-size: 18px
        margin-bottom: 4px

        &:not(:first-child)
            margin-top: 8px

    .format-bar
        padding: 0 15px 0
        margin-top: 0px
        margin-bottom: 8px

        .tab
            float: left
            display: block
            color: white
            margin: 0 10px
            line-height: 24px
            transition(all 0.2s ease-in-out)

            &:hover
                color: orange
                cursor: pointer

            &.current
                color: orange

    .run
        margin: 0px 8px
        .deck
            height: 65px

            h4
                margin: 0
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden

            > img
                float: left
                height: 100%
                margin-right: 10px

            .time, .result
                font-weight: bold

        .buttons
            padding: 0
            width: auto
            overflow-y: auto

            .button-row
                margin-top: 4px

            button
                width: auto

            .small
                min-width:0
                width: auto
                padding: 0 2px

        .queue-time
            margin-top: 4px

        .games
            margin-top: 4px
            display-flex()
            flex-direction(row)

            .match
                width:auto
                margin:4px

                &:first-child
                    margin-left:0

                &.aborted
                    display:none

                &>img.identity
                    width: 30px
                    border-radius: 2px

                    &.won
                        box-shadow(0 0 4px 2px transparent-green)

                    &.lost
                        box-shadow(0 0 4px 2px transparent-red)

                    // &.aborted
                        // filter: grayscale(100%);
                        // box-shadow(0 0 4px 2px grey)

.lobby
    .player .standings
        margin-left: 5px

    .win-group
        &:not(:first-child)
            margin-top: 12px

        .win-divider
            font-size: 120%
            font-weight: bold
            text-align:center
            margin-bottom: 8px

.gameboard
    .right-pane .log .angel-arena-time-warning
        margin-bottom: 1rem
