// Note: Some of the definitions here overwrite styles set in lobby.styl for .lobby .gamepanel
.lobby .angelarena.game-panel 
    display-flex()
    flex-direction(column)
    position:relative

    >div
        position:relative
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin-top: 0
        margin-bottom: 8px
        display: inline

    >h3
        font-size: 18px
        margin-bottom: 4px

        &:not(:first-child)
            margin-top: 8px

    .deck
        height: 65px
        padding: 2px 8px
        margin: 0 0 0px 0px

        h4
            margin: 0
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden

        > img
            float: left
            height: 100%
            margin-right: 10px

        .time, .result
            font-weight: bold

    .button-bar
        margin-top: 0px
        padding: 0
        width: auto
        overflow-y: auto

        button
            width: auto

        .small
            min-width:0
            width: auto
            padding: 0 2px

    .format-bar
        padding: 0 15px 0
        margin-top: 0px
        margin-bottom: 8px

        .tab
            float: left
            display: block
            color: white
            margin: 0 10px
            line-height: 24px
            transition(all 0.2s ease-in-out)

            &:hover
                color: orange
                cursor: pointer

            &.current
                color: orange
