.lobby .angelarena.game-panel 
    display-flex()
    flex-direction(column)
    position:relative

    >div
        position:relative
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin-top: 0
        margin-bottom: 8px
        display: inline

    >h3
        font-size: 18px
        margin-top: 0
        margin-bottom: 4px

    .deck
        height: 65px
        padding: 2px 8px
        margin: 0 0 0px 0px

        h4
            margin: 0
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden

        > img
            float: left
            height: 100%
            margin-right: 10px

        .time, .result
            font-weight: bold

    .button-bar
        margin-top: 4px
        padding: 0
        width: auto

        button
            width: auto

        .small
            min-width:0
            width: auto
            padding: 0 2px
