@require "opacity"
@require "palette"
// Auth

#auth-forms, .reset-form
    input
        width: 240px
        margin-bottom: 10px
        font-size: 1rem
        border-color: gold-base
        height:auto

    button
        margin-right: 5px

.reset-form
    position: absolute
    top: 50%
    left: 50%
    padding: 10px 20px
    width: 282px
    margin: -92px 0 0 -141px

.flash-message
    color: orange-dark
    font-size: .875rem
    margin-bottom: 10px
