// Auth

#auth-forms, .reset-form
    input
        width: 240px
        margin-bottom: 10px
        font-size: 15px
        border-color: orange
        height:auto

    button
        margin-right: 5px

.reset-form
    position: absolute
    top: 50%
    left: 50%
    padding: 10px 20px
    width: 282px
    margin: -92px 0 0 -141px

.flash-message
    color: orangered
    font-size: 14px
    margin-bottom: 10px

.block-link
    cursor: pointer
    border: 1px solid transparent
    padding: 0 5px
    border-radius: 4px
    display: block
    margin: 0 -4px

    &:hover
        background-color: transparent-orange
        border: 1px solid orange
