.home-bg
    cover-img: url('/img/bg/Beanstalk.jpg')

.lobby-bg
    cover-img: url('/img/bg/TheRoot.jpg')

.deckbuilder-bg
    cover-img: url('/img/bg/ProjectAtlas.jpg')

.cardbrowser-bg
    cover-img: url('/img/bg/DysonMemChip.jpg')

.help-bg
    cover-img: url('/img/bg/Grimoire.jpg')

.about-bg
    cover-img: url('/img/bg/FastTrack.jpg')

.account-bg
    cover-img: url('/img/bg/Logos.jpg')

.reset-bg
    cover-img: url('/img/bg/Logos.jpg')

.stats-bg
    cover-img: url('/img/bg/RumorMill.jpg')

.traffic-jam-bg
    cover-img: url('/img/bg/TrafficJam.jpg')

.rumor-mill-bg
    cover-img: url('/img/bg/RumorMill.jpg')

.find-the-truth-bg
    cover-img: url('/img/bg/FindTheTruth.jpg')

.push-your-luck-bg
    cover-img: url('/img/bg/PushYourLuck.jpg')

.apex-bg
    cover-img: url('/img/bg/Apex.jpg')

.mushin-no-shin-bg
    cover-img: url('/img/bg/MushinNoShin.jpg')

.freelancer-bg
    cover-img: url('/img/bg/Freelancer.jpg')

.worlds2020
    cover-img: url('/img/bg/Worlds2020.jpg')

.monochrome-bg
    cover-color: obsidian
