*
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

html, body, #main-content
    margin: 0
    padding: 0
    height: 100%
    overflow: hidden

body
    color: text-color
    background-color: black
    font-family: "Titillium Web", "Helvetica Neue", sans-serif
    font-size: 13px
    line-height: 18px

h1, h2, h3, h4
    line-height: normal
    margin: 0 0 8px

h1
    font-size: 36px

h2
    font-size: 24px

h3
    font-size: 20px
    margin: 0 0 6px

h4
    font-size: 14px
    line-height: 18px
    margin: 0 0 4px

a
    text-decoration: none
    color: orange
    transition(all 0.2s ease-in-out)
    cursor: pointer

    &:hover
        color: blue
        text-decoration: none

table
    border-collapse: collapse

pre
    font-family: "Titillium Web", "Helvetica Neue", sans-serif
    white-space: -moz-pre-wrap
    white-space: -o-pre-wrap
    white-space: pre-wrap
    margin: 8px 0

ul
    margin: 0
    padding: 0

ul.list
    padding-left: 30px
    margin: 10px 0

    li
        margin-bottom: 10px

    p
        margin: 2px 0

ul.list.compact li
    margin-bottom: 2px

p
    margin: 8px 0

section
    margin-bottom: 16px

input, select, textarea
    font-family: "Titillium Web", "Helvetica Neue", sans-serif
    font-size: 13px
    border-radius: 4px
    padding: 0 5px
    margin: 0
    height: 28px
    background-color: rgba(255, 255, 255, 0.9)
    border: 2px solid rgba(39, 56, 76, 0.8)
    color: black
    transition(all 0.2s ease-in-out)
    outline: none

    &:focus
        box-shadow(0 0 6px blue)
        border-color: blue !important

input[type="radio"], input[type="checkbox"]
    height: auto
    vertical-align: middle
    margin: -3px 8px 0 0

label
    padding: 3px 0
    cursor: pointer

button, a.button
    display: inline-block
    border-radius: 4px
    font-size: 12px
    padding: 4px 12px
    margin: 0 8px 0 0
    background-color: transparent-orange
    border: 1px solid orange
    color: white
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)
    cursor: pointer
    height: 28px
    outline: none
    transition(all 0.2s ease-in-out)
    cursor: pointer

    &:focus, &:hover
        box-shadow(0 0 6px blue)
        border-color: blue

button.small
    padding: 0
    font-size: 12px
    line-height: 18px
    height: 20px
    width: 20px
    background-color: transparent
    border-color: white

    &:hover
        background-color: transparent-orange
        border-color: orange

button.on
    background-color: transparent-gold
    border: 1px solid gold

button.off
    background-color: transparent-orange

.infobox
    border: 1px solid orange
    background-color: transparent-orange !important
    padding:4px 8px
    margin:15px
    border-radius: 4px

.infobox::before
    display: block;
    position: relative;
    float: left;
    left: -2px;
    top: 4px;
    margin: 5px
    content: "!";
    border-radius: 50%;
    border: 1px solid lighten(orange, 25);
    color: lighten(orange, 25);
    width: 20px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    font-weight: normal;

[draggable]
    -moz-user-select: none
    -webkit-user-select: none
    user-select: none
    -webkit-user-drag: element

.card.dragged
    opacity: 1
    box-shadow(0 0 1px 2px blue)

.dragover
    border-color: orange !important

.namearea
    flex(1)
    display-flex()
    flex-direction(row)
    min-height: 35px
    align-items: center

    .avatar
        height: 32px

    .namebox
        flex(1)
        display-flex()
        flex-direction(column)
        min-height: 1px

.avatar
    vertical-align: middle
    margin-right: 5px
    border-radius: 3px

.username
    font-weight: bold
    font-size: 14px
    margin-right: 5px

.active
    color: orange
    transition(all 0.2s ease-in-out)

.standard, .eternal, .core-experience, .snapshot, .snapshot-plus, .socr, .classic, .legal
    color: lawngreen
    border-color: lawngreen

.casual
    color: yellow
    border-color: yellow

.invalid
    color: orangered
    border-color: orangered

.smallwarning
    position: relative
    background: transparent-orange
    border: 1px solid orange
    color: white
    margin-left: 2px
    margin-right: 2px
    width: 12px
    display: inline-block
    text-align: center

.warning
    position: relative
    background: #34849F
    border: 1px solid #9AC2CF
    margin-left: 12px
    width: 12px
    display: inline-block
    text-align: center

.warning:after, .warning:before
    right: 100%
    top: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none

.warning:after
    border-color: rgba(52, 132, 159, 0)
    border-right-color: #34849F
    border-width: 8px
    margin-top: -8px

.warning:before
    border-color: rgba(154, 194, 207, 0)
    border-right-color: #9AC2CF
    border-width: 10px
    margin-top: -10px

.fake-link
    color: orange
    cursor: pointer

button .fake-link
    color: white

.darken
    background-color: black
    opacity: 0.85

.float-left
    float: left

.float-center
    display: flex
    justify-content: center
    margin-bottom: 2px

.float-right
    float: right
    margin-left: 10px;

.clear
    clear: both

.italic
    font-style: italic

span.small
    font-size: 12px
    font-weight: normal
    margin-left: 10px

.ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.disabled
    opacity: 0.5
    box-shadow(none)
    cursor: auto

    &:hover, &:focus
        box-shadow(none)
        border-color: orange

.rotated
    color: white
    background-color: grey
    border-color: orangered
    opacity: 0.5
    box-shadow(none)
    cursor: auto

    &:hover, &:focus
        box-shadow(none)
        border-color: orange

.label
    border: 1px solid white
    border-radius: 4px
    padding: 2px 5px
    font-size: 12px
    margin: 0 10px

* html .clearfix
    height: 1%
    overflow: visible

*+html .clearfix
    min-height: 1%

.clearfix:after
    clear: both
    content: "."
    display: block
    height: 0
    visibility: hidden
    font-size: 0

.caret
    display: inline-block
    width: 0
    height: 0
    margin-left: 5px
    vertical-align: middle
    border-top: 4px solid
    border-right: 4px solid transparent
    border-left: 4px solid transparent

.system
    margin-bottom: 8px
    line-height: 15px

.image-container
    position: relative

.panel
    border-radius: 4px
    padding: 5px 10px
    border: 1px solid rgba(39, 56, 76, 0.9)
    margin: 5px

.panel-top
    border-radius: 4px 4px 0px 0px

.panel-mid
    border-radius: 0px

.panel-bottom
    border-radius: 0px 0px 4px 4px

.container
    width: 1000px
    margin: 0 auto

.blue-shade
    background-color: transparent-blue
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1)

.active-player
    border: 1px solid #ffa500

// Layout

#main
    height: 100%

    .carousel-inner
        height: 100%

        .item
            padding-top: 31px
            height: 100vh
            color: white

// Version string on main page
#version
    position: absolute
    bottom: 1px
    left: 1px
    span
        color: gainsboro
        font-size: smaller


@keyframes highlight
    from
        background: darkolivegreen
    to
        background: none

@keyframes fadein
    from
        opacity: 0
    to
        opacity: 1

.content-page
    padding: 12px 20px
    width: 650px
    margin: 40px auto 10px
    height: 90vh
    overflow: auto
