*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden

body
  color: text-color
  background-color: black
  font-family: "Titillium Web", "Helvetica Neue", sans-serif
  font-size: 13px
  font-weight: 300
  line-height: 18px

h1, h2, h3, h4
  line-height: normal
  font-weight: 400
  margin: 0 0 4px

h1
  font-size: 40px

h2
  font-size: 28px

h3
  font-size: 20px

h4
  font-size: 16px

a
  text-decoration: none
  color: orange
  // transition(all 0.2s ease-out)
  &:hover
    color: text-color
    text-decoration: none

table
  border-collapse: collapse

ul
  margin: 0
  padding: 0

p
  margin: 5px 0

form
  display: inline-block
  padding: 15px 20px

input[type=text]
  border-radius: 4px
  padding: 0 5px
  font-size: 12px
  height: 28px
  background-color: rgba(255, 255, 255, 0.85)
  border: 2px solid rgba(39, 56, 76, 0.9)
  border-radius: 4px

button
  border-radius: 4px
  font-size: 12px
  padding: 0 20px
  background-color: transparent-orange
  border: 1px solid orange
  color: white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)
  cursor: pointer
  height: 28px

button.add
  padding: 2px 4px
  float: right
  height: auto
  background-color: transparent
  border-color: white
  &:hover
    background-color: transparent-orange
    border-color: orange
    color: orange

.clear
  clear: both

.italic
  font-style: italic

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

* html .clearfix
  height: 1%
  overflow: visible

*+html .clearfix
  min-height: 1%

.clearfix:after
  clear: both
  content: "."
  display: block
  height: 0
  visibility: hidden
  font-size: 0

nav
  ul
    list-style-type: none

nav#topnav
  position: fixed
  z-index: 10
  top: 0
  left: 0
  right: 0
  padding: 5px 20px
  border-bottom: 1px solid rgba(39, 56, 76, 0.9)
  li
    display: inline-block
    margin-right: 20px
    a
      color: white
      &:hover
        color: orange
  li.active
    a
      color: orange

.panel
  radius: 4px
  padding: 4px 8px
  border: 1px solid rgba(39, 56, 76, 0.9)
  margin: 4px

.container
  width: 960px
  margin: 0 auto

.blue-shade
  background-color: rgba(39, 56, 76, 0.8)
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1)

// Buttons

a.button, button
  display: inline-block


// Layout

#main
  height: 100%
  .carousel-inner
    height: 100%
    .item
      padding-top: 29px
      height: 100%
      color: white

.home-bg
  cover-img: url('/img/bg/Beanstalk.jpg')

.lobby-bg
  cover-img: url('/img/bg/Grimoire.jpg')

.deckbuilder-bg
  cover-img: url('/img/bg/ProjectAtlas.jpg')

.cardbrowser-bg
  cover-img: url('/img/bg/DysonMemChip.jpg')

.forum-bg
  cover-img: url('/img/bg/FastTrack.jpg')


// Chat

.chat-app
  display-flex()

.channel-list
  flex(0 0 180px)
  margin: 0 4px 0 0
  > div
    cursor: pointer
    border: 1px solid transparent
    padding: 0 4px
    margin: 0 -4px
    border-radius: 4px
    &:hover
      background-color: transparent-orange
      border: 1px solid orange
  > div.active
    color: orange
    transition(all 0.2s ease-out)

.chat-box
  flex(1)

.message-list
  height: 400px
  margin: 0
  overflow: scroll

.msg-box
  display-flex()
  flex(1)
  margin-top: 4px

  > input
    flex(1)

// Card Browser
.cardbrowser
  display-flex()

.filters
  flex(0 0 180px)
  margin: 10px

  input, select
    width: 100%

.set-list
  > div
    cursor: pointer
    border: 1px solid transparent
    padding: 0 4px
    margin: 0 -4px
    border-radius: 4px
    &:hover
      background-color: transparent-orange
      border: 1px solid orange
  > div.active
    color: orange
    transition(all 0.2s ease-out)

.card-list
  position: absolute
  top: 0
  bottom: 0
  // left: 200px
  // right: 0
  overflow: scroll
  padding-top: 40px
  flex(1)

.card-img
  height: 302px
  width: 217px
  margin: 0 10px 10px 0

// Gameboard

.gameboard
  position: absolute
  top: 29px
  bottom: 0
  left: 0
  right: 0
  display-flex()
  justify-content(space-between)

.corp-board

.runner-board

.hand, .deck, .discard, .scored
  height: 105px

.discard, .deck
  width: 75px
  margin-left: 0
  flex-shrink: 0

.hand
  width: 400px

.scored
  flex-shrink: 0

.stats
  height: 150px
  flex-shrink: 0

.leftpane
  width: 150px
  display-flex()
  flex-direction(column)
  justify-content(space-between)

  > div
    width: 100%

.centralpane
  display-flex()
  flex-direction(column)
  flex(1)

  .board
    flex(1)

  .dashboard
    display-flex()
    align-items: flex-end
    justify-content(center)

.rightpane
  display-flex()
  flex-direction(column)

  .card-zoom
    width: 220px
    height: 307px
    margin-top: 4px

  .log
    overflow: scroll
    flex(1)

  > input
    margin: 0 4px 4px
