*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden

body
  color: text-color
  background-color: black
  font-family: "Titillium Web", "Helvetica Neue", sans-serif
  font-size: 13px
  line-height: 18px

h1, h2, h3, h4
  line-height: normal
  margin: 0 0 8px

h1
  font-size: 36px

h2
  font-size: 24px

h3
  font-size: 18px
  margin: 0 0 4px

h4
  font-size: 14px
  line-height: 18px
  margin: 0 0 2px

a
  text-decoration: none
  color: orange
  transition(all 0.2s ease-in-out)
  cursor: pointer
  &:hover
    color: blue
    text-decoration: none

table
  border-collapse: collapse

pre
  font-family: "Titillium Web", "Helvetica Neue", sans-serif
  white-space: -moz-pre-wrap
  white-space: -o-pre-wrap
  white-space: pre-wrap
  margin: 8px 0

ul
  margin: 0
  padding: 0

ul.list
  padding-left: 30px
  margin: 10px 0

  li
    margin-bottom: 10px
  p
    margin: 2px 0

ul.list.compact
  li
    margin-bottom: 2px

p
  margin: 8px 0

input, select, textarea
  font-family: "Titillium Web", "Helvetica Neue", sans-serif
  font-size: 13px
  border-radius: 4px
  padding: 0 5px
  margin: 0
  height: 28px
  background-color: rgba(255, 255, 255, 0.9)
  border: 2px solid rgba(39, 56, 76, 0.8)
  transition(all 0.2s ease-in-out)
  outline: none

  &:focus
    box-shadow(0 0 6px blue)
    border-color: blue !important

input[type="radio"], input[type="checkbox"]
  height: auto
  vertical-align: middle
  margin: -3px 8px 0 0

label
  padding: 3px 0
  cursor: pointer

button, a.button
  display: inline-block
  border-radius: 4px
  font-size: 12px
  padding: 4px 12px
  margin: 0 2px
  background-color: transparent-orange
  border: 1px solid orange
  color: white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)
  cursor: pointer
  height: 28px
  outline: none
  transition(all 0.2s ease-in-out)
  cursor: pointer

  &:focus, &:hover
    box-shadow(0 0 6px blue)
    border-color: blue

button.small
  padding: 0
  font-size: 12px
  line-height: 18px
  height: 20px
  width: 20px
  background-color: transparent
  border-color: white
  &:hover
    background-color: transparent-orange
    border-color: orange

[draggable]
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none
  -webkit-user-drag: element

.card.dragged
  opacity: 1
  box-shadow(0 0 1px 2px blue)

.dragover
  border-color: orange !important

.avatar
  vertical-align: middle
  margin-right: 5px
  border-radius: 3px

.username
  font-weight: bold
  font-size: 14px
  margin-right: 10px

.active
  color: orange
  transition(all 0.2s ease-in-out)

.invalid
  color: orangered
  border-color: orangered

.casual
  color: yellow
  border-color: yellow

.legal
  color: lawngreen
  border-color: lawngreen

.smallwarning
    position: relative
    background: transparent-orange
    border: 1px solid orange
    color: white
    margin-left: 2px
    margin-right: 2px
    width: 12px
    display: inline-block
    text-align: center

.warning
    position: relative
    background: #34849F
    border: 1px solid #9AC2CF
    margin-left: 12px
    width: 12px
    display: inline-block
    text-align: center

.warning:after, .warning:before
    right: 100%
    top: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none

.warning:after
    border-color: rgba(52, 132, 159, 0)
    border-right-color: #34849F
    border-width: 8px
    margin-top: -8px

.warning:before
    border-color: rgba(154, 194, 207, 0)
    border-right-color: #9AC2CF
    border-width: 10px
    margin-top: -10px

.fake-link
  color: orange
  cursor: pointer

button .fake-link
  color: white

.darken
  background-color: black
  opacity: 0.85

.float-left
  float: left

.float-right
  float: right
  margin-left: 10px;

.clear
  clear: both

.italic
  font-style: italic

span.small
  font-size: 12px
  font-weight: normal
  margin-left: 10px

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.disabled
  opacity: 0.5
  box-shadow(none)
  cursor: auto

  &:hover, &:focus
    box-shadow(none)
    border-color: orange

.label
  border: 1px solid white
  border-radius: 4px
  padding: 2px 5px
  font-size: 12px
  margin: 0 10px

* html .clearfix
  height: 1%
  overflow: visible

*+html .clearfix
  min-height: 1%

.clearfix:after
  clear: both
  content: "."
  display: block
  height: 0
  visibility: hidden
  font-size: 0

.caret
  display: inline-block
  width: 0
  height: 0
  margin-left: 5px
  vertical-align: middle
  border-top: 4px solid
  border-right: 4px solid transparent
  border-left: 4px solid transparent

.system
  margin-bottom: 8px
  line-height: 15px

.image-container
  position: relative

// Faction icons

.faction-icon
  width: 24px
  height: 24px
  margin-left: 5px
  background: transparent
  background-repeat: no-repeat
  background-size: contain
  display: inline-block
  vertical-align: middle

  &.adam
    background-image: url('/img/factions/runner-adam.png')

  &.anarch
    background-image: url('/img/factions/runner-anarch.png')

  &.apex
    background-image: url('/img/factions/runner-apex.png')

  &.criminal
    background-image: url('/img/factions/runner-criminal.png')

  &.hb
    background-image: url('/img/factions/corp-hb.png')

  &.jinteki
    background-image: url('/img/factions/corp-jinteki.png')

  &.nbn
    background-image: url('/img/factions/corp-nbn.png')

  &.shaper
    background-image: url('/img/factions/runner-shaper.png')

  &.sunny
    background-image: url('/img/factions/runner-sunny.png')

  &.weyland
    background-image: url('/img/factions/corp-weyland.png')

// Dropdown

.dropdown
  position: relative

.dropdown-toggle:focus
  outline: 0

.dropdown-menu
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  display: none
  float: left
  min-width: 140px
  padding: 4px 6px
  list-style: none
  background-clip: padding-box
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, .15)
  border-radius: 4px
  box-shadow(0 6px 12px rgba(0, 0, 0, .175))

  .block-link
    padding: 2px 8px

.dropdown-menu.float-right
  right: 0
  left: auto

.open > .dropdown-menu
  display: block

.open > a
  outline: 0


// Modal
.modal-open
  overflow: hidden

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  display: none
  overflow: auto
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  outline: 0

.modal-dialog
  position: absolute
  top: 50%
  left: 50%
  background-clip: padding-box
  border: 1px solid orange
  background-color: rgba(0, 0, 0, 0.6)
  border-radius: 10px
  outline: none
  padding: 15px 20px
  color: white
  transform(translate(-50%, -50%))
  transition(all 0.2s ease-in-out)

.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  background-color: black
  transition(all 0.2s ease-in-out)

.modal-backdrop.fade
  opacity: 0

.modal-backdrop.in
  opacity: 0.7

.unseen
  opacity: 0.5

nav ul
  list-style-type: none

.topnav
  position: absolute
  z-index: 10
  top: 0
  left: 0
  right: 0
  padding: 0 20px
  border-bottom: 1px solid rgba(39, 56, 76, 0.9)

  #left-menu > ul li
    margin-right: 20px

  #right-menu > ul li
    margin-left: 20px

  li, #status
    display: inline-block
    height: 30px
    line-height: 29px
    a
      color: white
      &:hover
        color: orange
  li.active
    a
      color: orange

  .dropdown-menu a
    line-height: 20px
    &:hover
      color: white

.panel
  radius: 4px
  padding: 5px 10px
  border: 1px solid rgba(39, 56, 76, 0.9)
  margin: 5px

.container
  width: 1000px
  margin: 0 auto

.blue-shade
  color: white
  background-color: transparent-blue
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1)

// Influence dots

.influence.neutral
  color: white

// Corps
.influence.haas-bioroid
  color: blueviolet

.influence.jinteki
  color: crimson

.influence.nbn
  color: yellow

.influence.weyland-consortium
  color: darkgreen

// Runners
.influence.adam
  color: olive

.influence.anarch
  color: orangered

.influence.apex
  color: maroon

.influence.criminal
  color: royalblue

.influence.shaper
  color: limegreen

.influence.sunny-lebeau
  color: lightslategray

// Top nav
#left-menu
  float: left

#right-menu, #status
  float: right

#status
  .float-right
    padding-right: 12px
    border-right: 1px solid white

  .spectators
    display: none
    position: absolute
    padding: 4px 8px
    top: 36px
    border-radius: 4px
    min-width: 180px

  .player
    display: block

  .spectators-count
    position: relative
    cursor: pointer

    &:hover
      .spectators
        display: block

  .concede-button
    margin-right: 12px

// Auth

#auth-forms, .reset-form
  input
    width: 240px
    margin-bottom: 10px
    font-size: 15px
    border-color: orange
  button
    margin-right: 5px

.reset-form
  position: absolute
  top: 50%
  left: 50%
  padding: 10px 20px
  width: 282px
  margin: -92px 0 0 -141px

.flash-message
  color: orangered
  font-size: 14px
  margin-bottom: 10px

.usermenu
  padding: 0 10px
  margin-right: -20px

.block-link
  cursor: pointer
  border: 1px solid transparent
  padding: 0 5px
  border-radius: 4px
  display: block
  margin: 0 -4px
  &:hover
    background-color: transparent-orange
    border: 1px solid orange

// Layout

#main
  height: 100%
  .carousel-inner
    height: 100%
    .item
      padding-top: 29px
      height: 100%
      color: white

.home-bg
  cover-img: url('/img/bg/Beanstalk.jpg')

.lobby-bg
  cover-img: url('/img/bg/TheRoot.jpg')

.deckbuilder-bg
  cover-img: url('/img/bg/ProjectAtlas.jpg')

.cardbrowser-bg
  cover-img: url('/img/bg/DysonMemChip.jpg')

.help-bg
  cover-img: url('/img/bg/ArmitageCodebust.jpg')

.about-bg
  cover-img: url('/img/bg/FastTrack.jpg')

.reset-bg
  cover-img: url('/img/bg/Logos.jpg')


// Chat

.chat-app
  display-flex()
  position: absolute
  top: 196px
  bottom: 15px
  width: 995px

.channel-list
  flex(0 0 180px)
  margin: 0 5px 0 0

  button.small
    float: right
    margin-right: -2px

.chat-box
  flex(1)
  display-flex()
  flex-direction(column)
  min-height: 1px

.message
  display-flex()
  margin-bottom: 5px

  .content
    flex(1)

.message-list
  height: 400px
  margin: 0
  overflow: auto
  -webkit-overflow-scrolling: touch
  flex(1)

  .avatar
    height: 38px
    width: 38px
    border-radius: 5px

  .date
    font-weight: 300
    font-size: 12px

.msg-box
  display-flex()
  flex(1)
  margin-top: 5px

  > input
    flex(1)
    margin-left: 0
    margin-top: 0
    margin-right: 5px

  button
    margin-right: 0

// Card Browser
.cardbrowser
  display-flex()

.filters
  flex(0 0 180px)
  margin: 10px
  padding: 10px

  input, select
    width: 100%
    font-size: 13px

  h4
    margin-top: 5px

.search-box
  position: relative
  margin-bottom: 10px

  .search
    border-radius: 14px
    padding: 0 22px

  .search-icon
    position: absolute
    color: dark-grey
    top: 0
    left: 5px

  .search-clear
    position: absolute
    color: grey
    top: 0
    right: 2px
    width: 26px
    height: 26px
    cursor: pointer
    transition(all 0.2s ease-in-out)

    &:hover
      color: dark-grey

.set-list
  > div
    cursor: pointer
    border: 1px solid transparent
    padding: 0 4px
    margin: 0 -4px
    border-radius: 4px
    &:hover
      background-color: transparent-orange
      border: 1px solid orange

.card-list
  position: absolute
  top: 0
  bottom: 0
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding-top: 40px
  transform: translateZ(0)
  flex(1)


.card-preview
  float: left
  position: relative
  height: 348px
  width: 250px
  margin: 0 10px 10px 0
  border-radius: 8px
  padding: 10px

  > h4
    margin-bottom: 5px

  > h4, .type
    text-transform: uppercase

  .heading, .type
    font-weight: bold

  .text
    position: absolute
    bottom: 10px
    left: 10px
    right: 10px
    height: 245px

  > img
    position: absolute
    top: 0px
    left: 0px
    height: 100%
    width: 100%
    border-radius: 12px

// Deckbuilder

.deck-collection
  overflow: auto
  -webkit-overflow-scrolling: touch
  flex(1)

  .deckline
    height: 49px
    padding: 5px 8px
    margin: 0 0 5px
    border: 1px solid white
    border-radius: 4px
    cursor: pointer
    clear: both

    &:hover
      border-color: orange

    p
      margin-top: 0

    h4
      margin: 0

    > img
      float: left
      height: 100%
      margin-right: 10px

.deckbuilder
  overflow: hidden
  padding: 15px 0
  margin-top: 8px
  position: absolute
  top: 31px
  bottom: 10px
  width: 995px

  .viewport.edit
    left: -497px

  .viewport
    position: relative
    width: 1491px
    height: 100%
    left: 0
    transition(all 0.5s ease-in-out)
    display-flex()

    .decks, .decklist, .deckedit
      flex(1)
      border-right: 1px solid white
      padding: 0

      > div
        padding: 0 15px

    .decks
      position: relative
      display-flex()
      flex-direction(column)
      padding: 0

      .button-bar
        box-sizing: initial
        padding: 0 15px 15px

        button
          width: 135px
          margin-right: 5px

      .card-preview
        position: absolute
        left: auto
        z-index: 10
        right: 5px
        top: 0

      .edit .card-preview
        right: -100%
        transform: translateX(100%)
        margin-right: -17px

    .decklist
      position: relative
      overflow: auto
      -webkit-overflow-scrolling: touch

      .button-bar
        padding-bottom: 8px

        button, a.button
          min-width: 75px

      .header
        height: 106px
        clear: both

        > img
          height: 100%
          margin-right: 10px
          float: left

      input.deckname
        height: 30px

      .cards
        columns(2, 5px)

      .line
        position: relative
        overflow: visible
        line-height: 20px

        button.small
          margin: 3px 5px 3px 0

      .group
        display: inline-block
        width: 100%

        h4
          margin: 8px 0 0

    .deckedit
      display-flex()
      flex-direction(column)

      .deckname, .identity
        width: 100%

      .card-search
        position: relative

        .lookup
          width: 299px
          margin-right: 5px

        .typeahead
          position: absolute
          padding: 2px
          margin: 2px 0 0 0
          width: 308px
          background-color: rgba(255, 255, 255, 0.9)
          color: black
          border-radius: 4px
          border: 1px solid transparent-blue

          > div
            padding: 2px 5px
            border-radius: 4px
            border: 1px solid transparent
            cursor: pointer

            &:hover
              background-color: transparent-orange
              border-color: orange

          .selected
            background-color: transparent-orange
            border-color: orange

      .qty
        width: 30px
        text-align: center
        margin-left: 4px
        margin-right: 10px

      p
        margin: 0 0 5px 0

      textarea
        margin: 0 15px
        line-height: 18px
        flex(1)

.deck-status
  position: relative
  padding-right: 12px

  .status-tooltip
    display: none
    position: absolute
    left: 100%
    top: 3px
    z-index: 30
    width: 185px
    background-clip: padding-box
    border: 1px solid white
    border-radius: 4px
    outline: none
    padding: 6px 12px
    color: white
    transition(all 0.2s ease-in-out)
    box-shadow(0 6px 12px rgba(0, 0, 0, .175))

    > div
      margin: 2px 0

    .tick
      margin-right: 4px

  &:hover
    cursor: default
    .status-tooltip
      display: inline

// Game Lobby

.lobby
  padding: 15px 0
  margin: 8px auto
  position: absolute
  top: 31px
  bottom: 5px
  width: 995px
  display-flex()

  .games, .game-panel
    flex(1)
    display-flex()
    flex-direction: column

  .game-panel
    border-left: 1px solid white
    padding: 0 15px

    select
      margin-right: 10px
      margin-bottom: 5px

    .flash-message
      margin: 6px 0 0 15px
      float: left

  .side
    margin-left: 5px

  .button-bar
    padding-bottom: 15px

  .games .button-bar
    box-sizing: initial
    padding: 0 15px 15px

    .rooms .roomtab
      display: block
      color: white
      margin: 0 10px
      line-height: 24px
      float: right
      transition(all 0.2s ease-in-out)

      &:hover
        color: orange
        cursor: pointer

      &.current
        color: orange

  .game-list
    padding: 0 15px
    overflow: auto
    flex(1)

  .gameline
    position: relative
    min-height: 53px
    border: 1px solid white
    border-radius: 4px
    padding: 5px 10px
    margin-bottom: 5px
    clear: both

    .player
      &:first-child:after
        content: "vs"
        margin: 0 8px
        font-weight: bold

      &:last-child:after
        display: none

    button
      float: right
      margin-top: 7px

  .game-panel
    position: relative

    > div
      position: absolute
      top: 0
      bottom: 0
      left: 15px
      right: 15px
      display-flex()
      flex-direction: column

    .button-bar
      button
        min-width: 80px
        margin-right: 5px

    .players
      height: 65px
      clear: both

      > div
        margin: 8px 0

      .player
        line-height: 22px

      .label
        display: inline-block
        text-align: center
        color: inherit
        border-color: inherit
        margin-right: 0

      .fake-link
        margin-left: 10px

    .spectators
      height: 65px

      .player
        margin-right: 12px

    .chat-box
      .message-list
        height: 298px
        width: 100%
        border: 1px solid white
        border-radius: 4px
        margin-bottom: 5px
        overflow: auto
        padding: 5px 10px

  .game-title
    width: 250px

  .deck-collection
    width: 496px
    max-height: 355px
    padding: 0

// Gameboard

#gameboard
  display: none

.gameboard
  position: absolute
  top: 31px
  bottom: 0
  left: 0
  right: 0
  display-flex()
  justify-content(space-between)

  .panel
    position: relative
    padding: 3px 6px
    overflow: visible

  .header
    position: absolute
    top: 0
    left: 0
    z-index: 2
    padding: 1px 4px
    font-size: 10px
    line-height: 14px

  .darkbg
    background: rgba(0, 0, 0, 0.6)
    text-shadow 1px 1px 2px black
    radius: 4px

  .card
    display: inline-block
    position: relative
    height: 84px
    width: 60px
    border-radius: 4px

    .servers-menu
      top: auto
      width: 120px
      bottom: -5px

    .cardname
      float: left
      font-size: 10px
      line-height: 14px

  .card.selected
    box-shadow(0 0 1px 2px limegreen)

  .counters
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 5
    display-flex()
    flex-direction(column)
    justify-content(center)
    align-items(center)

  .counter
    padding: 0
    font-size: 12px
    width: 24px
    height: 24px
    line-height: 24px
    text-align: center
    margin: 2px

  .advance-counter
    background-color: transparent-lightblue

  .recurring-counter
    background-color: transparent-green

  .virus-counter
    background-color: transparent-red

  .strength
    position: absolute
    z-index: 10
    padding: 0
    text-align: center
    background-color: transparent-orange-bright
    line-height: 24px
    font-size: 12px
    bottom: 3px
    left: 3px
    height: 24px
    width: 24px

  .icon
    position: absolute
    z-index: 10
    padding: 0
    text-align: center
    line-height: 24px
    font-size: 12px
    top: 3px
    right: 3px
    height: 24px
    width: 24px

    &.blue
      background-color: blue
    
    &.red
      background-color: red

  .named-target
    position: absolute
    z-index: 10
    padding: 0
    text-align: center
    background-color: sienna
    line-height: 16px
    font-size: 10px
    top: 3px
    right: 3px
    height: 16px
    width: auto

  .abilities, .servers-menu, .menu
    display: none
    position: absolute
    z-index: 10
    width: 200px
    left: 58px
    top: -5px
    font-size: 12px
    line-height: 16px

    > div
      border: 1px solid white
      padding: 3px 6px
      border-radius: 4px
      margin-bottom: 4px
      cursor: pointer

      &:last-child
        margin-bottom: 0

      &:hover
        border-color: orange

  .playable
    cursor: pointer
    border-radius: 4px

    .card
      box-shadow(0 0 1px 2px orange)

  .bg
    position: absolute
    left: 0
    bottom: 0

  .deck, .discard, .identity
    height: 86px
    width: 62px
    padding: 0

  .deck, .rfg, > .card, .identity, .discard
    margin-left: 16px
    margin-right: 16px
    flex-shrink: 0

  .shift
    position: relative
    left: -16px

  .discard
    position: relative

  .discard .popup, .deck .popup
    display: none
    position: absolute
    bottom: 85px
    width: 590px
    min-height: 92px
    z-index: 10

    .card
      float: left
      margin: 2px

    a
      display: inline-block
      margin: 0 10px 8px 4px

  .deck .popup
    left: -271px

  .discard .popup
    left: -6px

  .discard .popup.opponent
    top: 85px
    bottom: auto

  .hand, .scored, .rfg
    height: 86px
    padding: 0

  .hand
    width: 383px
    margin-right: 0

  .card-wrapper
    display: inline-block
    margin: 0 4px 0 0
    transition(all 0.3s ease-in-out)

    &:last-child
      margin-right: 0

   .disable-transition
     transition: none

  .squeeze .card-wrapper
    position: absolute

  .stats
    > div
      height: 20px
      font-size: 12px

      .controls
        float: right
        display: none
        margin-top: -1px

      &:hover .controls
        display: block

  .hosted
    height: 84px
    width: auto
    margin-left: 24px
    margin-top: -65px

    > div
      float: left
      margin-left: -15px

  .centralpane
    display-flex()
    flex(1)

  .secondary-pane
    width: 186px
    justify-content(space-between)
    display-flex()
    flex-direction(column)

    > div
      width: 100%
      display-flex()
      flex-direction(column)

    .panel
      margin: 0

    .button-pane
      .panel
        padding: 8px

      .run-button
        position: relative

        .servers-menu
          bottom: 0
          top: auto
          left: 100px
          width: 120px

      h4
        text-align: center
        margin-bottom: 10px

      button
        width: 100%
        font-size: 11px
        margin: 0 0 5px 0
        padding: 0 8px 1px

        &:last-child
          margin-bottom: 0

      .credit-select
        text-align: center
        margin-bottom: 10px

        select
          margin-right: 5px

  .leftpane
    width: 201px
    margin-top: -5px
    margin-bottom: -5px
    display-flex()
    flex-direction(column)
    justify-content(space-between)

    > div
      width: 100%

  .mainpane
    display-flex()
    flex-direction(column)
    flex(1)

    .board
      flex(1)
      display-flex()
      flex-direction(column)
      margin-left: 1px

      > div
        flex(1)

      .runner-board
        padding: 10px
        display: flex;
        flex-direction: column;

        > div:first-child
          margin-top: auto

      .content.shift > .card-frame
        margin-left: 8px
        margin-top: -16px

      .runner-board.opponent
        > div:first-child
          margin-top: 0px

        > div:last-child
          margin-bottom: auto

      .corp-board
        display-flex()

        .server
          margin: 0 4px
          transform(rotate(180deg))
          position: relative
          z-index: 1

          .ices
            position: relative
            width: 86px
            margin-top: 22px

            .strength
              transform(rotate(90deg))

            .icon
              transform(rotate(90deg))

            .run-arrow
              position: absolute
              z-index: 10
              left: 50%
              top: 5px
              bottom: -62px
              width: 16px
              border: 1px solid orange
              border-top: none
              background-color: rgba(255, 165, 0, 0.5)
              transform(translateX(-50%))
              border-radius: 0 0 4px 4px

              &:before
                content: ""
                display: block
                position: absolute
                right: 8px
                width: 0
                height: 0
                border-left: 16px solid transparent
                border-right: 16px solid transparent
                bottom: 100%
                left: 50%
                transform(translateX(-50%))
                border-bottom: 22px solid rgba(255, 165, 0, 0.5)

            .run-card
              position: absolute
              text-align: center
              bottom: -154px
              transform(rotate(180deg))
              width: 100%

            .hosted
              position: absolute

              .card-frame
                transform(rotate(90deg))
                margin: -44px 0 0 0

                .counters
                  transform(rotate(-90deg))

                .abilities
                  transform(rotate(0))

            .counter
              transform(rotate(90deg))

            > .card-frame
              position: relative
              left: -1px
              margin-top: -22px
              transform(rotate(90deg))
              cursor: pointer

            .abilities
              transform(rotate(90deg))
              top: -73px
              left: 12px

          .content.center
            left: -13px

          .content
            transform(rotate(180deg))
            position: absolute
            top: -90px
            display-flex()
            width: 86px
            height: 86px

            .card
              margin: 0 -40px 0 0
              .abilities
                left: -145px
                bottom: 85px
                top: auto

      .corp-board.opponent
        .server
          transform(rotate(0))

          &:nth-child(n+4)
            z-index: auto

          .content
            transform(rotate(0))

          .content.center
            left: 13px

          .strength
            transform(rotate(-90deg))

          .icon
            transform(rotate(-90deg))

          .ices
            .hosted
              .card-frame
                transform(rotate(-90deg))

                .counters
                  transform(rotate(-90deg))

            .counter
              transform(rotate(-90deg))

            .run-card
              transform(rotate(0deg))

      .card-wrapper
        margin-right: 10px
        margin-bottom: 5px

    .dashboard
      display-flex()
      align-items(flex-end)

  .rightpane
    position: relative
    display-flex()
    flex-direction(column)

    .card-zoom
      width: 220px
      height: 307px
      margin-top: 5px
      margin-right: 5px
      position: relative
      transition(all 0.2s ease-in-out)

      .card-preview
        width: 100%
        height: 100%
        transition(all 0.2s ease-in-out)

        .text
          height: 195px

    .log
      width: 225px
      position: absolute
      top: 317px
      bottom: 0

      .username
        font-size: 12px
        margin-top: -2px

      .avatar
        width: 28px
        height: 28px

      > .panel
       margin-left: 0
       font-size: 12px
       line-height: 15px

      .messages
        flex(1)
        overflow: auto
        -webkit-overflow-scrolling: touch
        position: absolute
        top: 0
        bottom: 36px
        left: 0
        right: 4px
        margin: 0

      > form
        position: absolute
        bottom: 5px
        left: 0
        right: 4px

        input
          width: 100%

#help
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: auto

#help nav li
  padding-left: 3px
  font-weight: bold

#help nav li li
  padding-left: 8px
  font-weight: normal

.help
  padding: 10px 20px
  width: 650px
  margin: 40px auto 10px

  > h3
    margin-top: -35px
    padding-top: 35px
    -webkit-background-clip: content-box
    background-clip: content-box

  > h3:target
    animation: highlight 1.5s ease

  > h4
    margin-top: -35px
    padding-top: 35px
    -webkit-background-clip: content-box
    background-clip: content-box

  > h4:target
    animation: highlight 1.5s ease

  li
    padding-left: 20px
    list-style-type: none

@keyframes highlight
  from
    background: darkolivegreen
  to
    background: none

#about
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: auto

.about
  padding: 10px 20px
  width: 650px
  margin: 40px auto 10px

  .bitcoin
    color: orange
    position: relative

    .qr
      display: none
      position: absolute
      top: 25px
      left: 0
      border: 10px solid white
      background-color: white
      transition(all 0.2s ease-in-out)

    &:hover
      .qr
        display: block

// News

.news-box
  margin-left: 0
  min-height: 1px
  padding-right: 0px

  .list
    height: 85px
    margin: 0
    overflow: auto
    padding: 0
    -webkit-overflow-scrolling: touch

  .news-item
    margin-bottom: 4px

    .title p
        display: inline

    .date
      margin-right: 10px
      font-weight: bold
