.typing
  position: absolute
  margin: 0
  padding: 0
  overflow: hidden
  bottom: 0
  left: 1px

.typing span
  animation-name: blink
  animation-duration: 1.5s
  animation-iteration-count: infinite
  animation-fill-mode: both

for i in (1..10)
  .typing span:nth-child({i})
    animation-delay: 0.1*i s

@keyframes blink
  0%
    opacity: .2

  20%
    opacity: 1

  100%
    opacity: .2
