// Faction icons

.faction-icon
    width: 24px
    height: 24px
    margin-left: 5px
    background: transparent
    background-repeat: no-repeat
    background-size: contain
    display: inline-block
    vertical-align: middle

    &.adam
        background-image: url('/img/factions/NISEI_ADAM.svg')

    &.anarch
        background-image: url('/img/factions/NISEI_ANARCH.svg')

    &.apex
        background-image: url('/img/factions/NISEI_APEX.svg')

    &.criminal
        background-image: url('/img/factions/NISEI_CRIMINAL.svg')

    &.hb
        background-image: url('/img/factions/NISEI_HB.svg')

    &.jinteki
        background-image: url('/img/factions/NISEI_JINTEKI.svg')

    &.nbn
        background-image: url('/img/factions/NISEI_NBN.svg')

    &.shaper
        background-image: url('/img/factions/NISEI_SHAPER.svg')

    &.sunny
        background-image: url('/img/factions/NISEI_SUNNY.svg')

    &.weyland
        background-image: url('/img/factions/NISEI_WEYLAND.svg')

// Influence dots

.influence.neutral
    color: white-solid

// Corps
.influence.haas-bioroid
    color: purple-core

.influence.jinteki
    color: crimson-core

.influence.nbn
    color: yellow-core

.influence.weyland-consortium
    color: green-dark

// Runners
.influence.adam
    color: yellow-dark

.influence.anarch
    color: orange-core

.influence.apex
    color: red-dark

.influence.criminal
    color: blue-core

.influence.shaper
    color: green-core

.influence.sunny-lebeau
    color: gray-core

