// Faction icons

.faction-icon
    width: 24px
    height: 24px
    margin-left: 5px
    background: transparent
    background-repeat: no-repeat
    background-size: contain
    display: inline-block
    vertical-align: middle

    &.adam
        background-image: url('/img/factions/runner-adam.png')

    &.anarch
        background-image: url('/img/factions/runner-anarch.png')

    &.apex
        background-image: url('/img/factions/runner-apex.png')

    &.criminal
        background-image: url('/img/factions/runner-criminal.png')

    &.hb
        background-image: url('/img/factions/corp-hb.png')

    &.jinteki
        background-image: url('/img/factions/corp-jinteki.png')

    &.nbn
        background-image: url('/img/factions/corp-nbn.png')

    &.shaper
        background-image: url('/img/factions/runner-shaper.png')

    &.sunny
        background-image: url('/img/factions/runner-sunny.png')

    &.weyland
        background-image: url('/img/factions/corp-weyland.png')

// Influence dots

.influence.neutral
    color: white

// Corps
.influence.haas-bioroid
    color: blueviolet

.influence.jinteki
    color: crimson

.influence.nbn
    color: yellow

.influence.weyland-consortium
    color: darkgreen

// Runners
.influence.adam
    color: olive

.influence.anarch
    color: orangered

.influence.apex
    color: maroon

.influence.criminal
    color: royalblue

.influence.shaper
    color: limegreen

.influence.sunny-lebeau
    color: lightslategray

