@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 200
  src: url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff')
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 300
  src: url('../fonts/TitilliumWeb-Light.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 400
  src: url('../fonts/TitilliumWeb-Regular.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 700
  src: url('../fonts/TitilliumWeb-Bold.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype')

@font-face
  font-family: 'entypo'
  src: url('../fonts/entypo.eot') format('eot')
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/entypo.woff') format('woff')
  src: url('../fonts/entypo.ttf') format('truetype')
  src: url('../fonts/entypo.svg') format('svg') active
  font-weight: normal
  font-style: normal

.e
  font-family: "entypo" !important
  speak: none
  display: inline-block
  text-decoration: inherit
  text-align: center
  font-size: 32px
  font-weight: 400
  //Uncomment for 3D effect
  //text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)
  //fix buttons height
  line-height: 12px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@font-face
  font-family: 'anr-icon'
  src: url('../fonts/netrunner.eot') format('eot')
  src: url('../fonts/netrunner.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/netrunner.woff') format('woff')
  src: url('../fonts/netrunner.ttf') format('truetype')
  src: url('../fonts/netrunner.svg') format('svg') active
  font-weight: normal
  font-style: normal

.anr-icon
  font-family: "anr-icon" !important
  speak: none

.haas-bioroid:before
	content: "\e602"

.shaper:before
	content: "\e603"

.subroutine:before
	content: "\e604"

.anarch:before
	content: "\e605"

.trash:before
	content: "\e606"

.weyland-consortium:before
	content: "\e607"

.recurring-credit:before
	content: "\e608"

.jinteki:before
	content: "\e609"

.mu1:before
	content: "\e60a"

.nbn:before
	content: "\e60b"

.mu2:before
	content: "\e60c"

.agenda:before
	content: "\e60d"

.mu3:before
	content: "\e60e"

.rez:before
	content: "\e60f"

.mu:before
	content: "\e610"

.click:before
	content: "\e611"

.criminal:before
	content: "\e612"

.link:before
	content: "\e601"

.credit:before
	content: "\e600"
