@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 200
  src: url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff')
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 300
  src: url('../fonts/TitilliumWeb-Light.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 400
  src: url('../fonts/TitilliumWeb-Regular.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 700
  src: url('../fonts/TitilliumWeb-Bold.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype')

@font-face
  font-family: 'anr-icon'
  src: url('../fonts/netrunner.eot') format('eot')
  src: url('../fonts/netrunner.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/netrunner.woff') format('woff')
  src: url('../fonts/netrunner.ttf') format('truetype')
  src: url('../fonts/netrunner.svg') format('svg') active
  font-weight: normal
  font-style: normal

.anr-icon
  font-family: "anr-icon" !important
  font-size: 15px
  margin-right: 1px
  speak: none

.anr-icon.haas-bioroid:before
	content: "\e602"

.anr-icon.shaper:before
	content: "\e603"

.anr-icon.subroutine:before
	content: "\e604"

.anr-icon.anarch:before
	content: "\e605"

.anr-icon.trash:before
	content: "\e606"

.anr-icon.weyland-consortium:before
	content: "\e607"

.anr-icon.recurring-credit:before
	content: "\e608"

.anr-icon.jinteki:before
	content: "\e609"

.anr-icon.mu1:before
	content: "\e60a"

.anr-icon.nbn:before
	content: "\e60b"

.anr-icon.mu2:before
	content: "\e60c"

.anr-icon.agenda:before
	content: "\e60d"

.anr-icon.mu3:before
	content: "\e60e"

.anr-icon.rez:before
	content: "\e60f"

.anr-icon.mu:before
	content: "\e610"

.anr-icon.click:before
	content: "\e611"

.anr-icon.criminal:before
	content: "\e612"

.anr-icon.link:before
	content: "\e601"

.anr-icon.credit:before
	content: "\e600"

@font-face
  font-family: "fontello"
  src: url('../fonts/fontello.eot')
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype')
  src: url('../fonts/fontello.woff') format('woff')
  src: url('../fonts/fontello.ttf') format('truetype')
  font-weight: normal
  font-style: normal

.e
  font-family: "fontello" !important
  font-style: normal
  font-weight: normal
  font-size: 16px
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 28px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */