@require "opacity"
@require "palette"
// Gameboard
.gameview
    height: 100%
    display-flex();
    flex-direction(column);

#gameboard
    width: 100%
    height: 100%
    display: none

.gameboard
    width: 100%
    flex-grow: 1
    overflow: auto
    display-flex()
    flex-direction(row-reverse)
    justify-content(space-between)
    flex-wrap(wrap)

    .panel
        position: relative
        padding: 3px 6px
        overflow: visible

    .header
        position: absolute
        top: 0
        left: 0
        z-index: 2
        padding: 1px 4px
        font-size: .75rem

    .darkbg
        background: alpha(black-solid, o-60)
        text-shadow 1px 1px 2px black-solid
        border-radius: 4px

    .graveyard-highlight-bg
        background: alpha(purple-core, o-60)
        text-shadow 1px 1px 2px purple-core
        border-radius: 4px

    .server-label
        color: white-solid
        text-align: center
        position: absolute
        width: 100%
        top: 100%
        transform: translate(0, -100%)

    .card-frame, .deck-container, .identity, .discard-container
        pointer-events: auto

    .card-frame
        position: relative

    .card
        position: relative
        height: 84px
        width: 60px
        border-radius: 4px
        outline: none
        display-flex()

        .cardname
            float: left
            font-size: .625rem
            line-height: .75rem
            max-width: 60px
            word-wrap: break-word

    @keyframes new-card {
        0% {
            box-shadow: 0 0 1px 2px gold-base, 20px 20px 15px 10px lighten(alpha(gold-base, 30%), 80%), -20px -20px 15px 10px lighten(alpha(gold-base, 30%), 80%), 0 0 30px 15px spin(alpha(gold-base, 70%), -15deg)
        }
        100% {
            box-shadow: 0 0 1px 2px gold-base, 0px 0px 0px 0px lighten(alpha(gold-base, 30%), 80%), 0px 0px 0px 0px lighten(alpha(gold-base, 30%), 80%), 0 0 0px 0px spin(alpha(gold-base, 70%), -15deg)
        }
    }

    @keyframes graveyard-card {
        0% {
            box-shadow: 0 0 1px 2px purple-core, 20px 20px 15px 10px lighten(alpha(purple-core, 30%), 80%), -20px -20px 15px 10px lighten(alpha(purple-core, 30%), 80%), 0 0 30px 15px spin(alpha(purple-core, 70%), -15deg)
        }
        100% {
            box-shadow: 0 0 1px 2px purple-core, 0px 0px 0px 0px lighten(alpha(purple-core, 30%), 80%), 0px 0px 0px 0px lighten(alpha(purple-core, 30%), 80%), 0 0 0px 0px spin(alpha(purple-core, 70%), -15deg)
        }
    }

    .card.graveyard-highlight
        animation: graveyard-card 1s cubic-bezier(0.5,1,0.5,1) forwards

    .card.new
        animation: new-card 1s cubic-bezier(0.5,1,0.5,1) forwards

    .card.selected
        box-shadow(0 0 1px 2px green-bright)
        animation: none

    .card.icon-hovered
        box-shadow(0 0 1px 2px red-light)

    @keyframes encountered-card {
        0% {
            box-shadow: 0 0 10px 4px red-light, 0px 0px 12px 12px lighten(alpha(red-light, 30%), 80%)
        }
        100% {
            box-shadow: 0 0 1px 2px red-light, 0px 0px 0px 0px lighten(alpha(red-light, 30%), 80%)
        }
    }

    .card.encountered
        animation: encountered-card 1s cubic-bezier(0.25,1,0.5,1) forwards
        border-color: red-light

    @keyframes hovered-card {
        0% {
            box-shadow: 0 0 10px 4px blue-light, 0px 0px 12px 12px lighten(alpha(blue-light, 30%), 80%)
        }
        100% {
            box-shadow: 0 0 1px 2px blue-light, 0px 0px 0px 0px lighten(alpha(blue-light, 30%), 80%)
        }
    }

    .card.playable
        box-shadow(0 0 1px 2px gold-base)
        animation: none

    .card.selectable
        box-shadow(0 0 1px 2px gold-base)
        animation: none

    .card.ghost
        filter: opacity(0.65) grayscale(80%);
        box-shadow(0 0 1px 2px blue-light)
        animation: none

    .card.hovered
        animation: hovered-card 1s cubic-bezier(0.25,1,0.5,1) forwards
        border-color: blue-light

    .card.flashback
        filter: grayscale(80%);
        animation: none

    .card.flashback.unknown::before
        font-family: "visibility" !important
        content: ""
        color: black
        position: absolute
        bottom: 0.55rem
        left:50%
        transform: translateX(-50%)
        padding: 0.2rem
        border-radius: 50%
        font-size: 2.75rem
        box-shadow 0 2px 5px rgba(0, 0, 0, 0.1)
        z-index: 1
        opacity: 0.6

    .card
        &:not(.selected)
            &:focus
                box-shadow(0 0 1px 2px blue-light)
                animation: none

    .counters
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 10
        display-flex()
        flex-direction(column)
        justify-content(center)
        align-items(center)

    .counter
        padding: 0
        font-size: .75rem
        width: 1.5rem
        height: 1.5rem
        line-height: 1.5rem
        text-align: center
        margin: 2px
        pointer-events: none

    .advance-counter
        background-color: alpha(blue-core, o-80)
        border-color: white-solid
        border-width 1px

    .recurring-counter
        background-color: alpha(green-dark, o-80)

    .bad-publicity-counter
        background-color: alpha(yellow-dark, o-80)

    .virus-counter
        background-color: alpha(red-core, o-80)

    .power-counter
        background-color: alpha(purple-dark, o-80)

    .agenda-counter
        background-color: alpha(blue-mid, o-80)

    .credit-counter
        background-color: alpha(black-solid, o-60)

    .strength
        position: absolute
        z-index: 10
        padding: 0
        text-align: center
        background-color: alpha(gold-base, o-90)
        line-height: 1.5rem
        font-size: .75rem
        bottom: 3px
        left: 3px
        height: 24px
        width: 24px

    .extra-subs
        position: absolute
        z-index: 10
        padding: 0
        text-align: center
        background-color: transparent-green-dark
        line-height: 1.5rem
        font-size: .75rem
        top: 3px
        left: 3px
        height: 24px
        width: 24px

    .icon-bar
        position: absolute
        top: 3px
        left: 3px
        display: flex
        flex-direction: column
        gap: 4px
        z-index: 10

    .icon
        position: relative
        padding: 0
        text-align: center
        line-height: 1.5rem
        font-size: .75rem
        height: 24px
        width: 24px

        &.neutral
            background-color: black-solid

        // Corps
        &.haas-bioroid
            background-color: purple-core

        &.jinteki
            background-color: crimson-core

        &.nbn
            background-color: yellow-core

        &.weyland-consortium
            background-color: green-dark

        // Runners
        &.adam
            background-color: yellow-dark

        &.anarch
            background-color: orange-core

        &.apex
            background-color: red-dark

        &.criminal
            background-color: blue-core

        &.shaper
            background-color: green-core

        &.sunny-lebeau
            background-color: gray-core

    .card-target, .additional-subtypes, .subtype-target
        position: absolute
        z-index: 10
        padding: 0
        text-align: center
        line-height: 1rem
        font-size: .625rem
        top: 3px
        right: 3px
        padding-left: 3px
        padding-right: 3px

    .additional-subtypes
        background-color: gray-mid

    .abilities, .servers-menu, .menu, .runner-abilities, .corp-abilities, .encounter-info, .popup
        left: 0
        bottom: 100%
        margin: 6px -1px

    .abilities, .servers-menu, .menu, .runner-abilities, .corp-abilities, .encounter-info
        display: none
        position: absolute
        z-index: 30
        width: 200px
        font-size: .75rem
        line-height: 1rem

        ul
            list-style: none

        > span
            margin: 2px
            &:last-child
                margin-bottom: 0

        > div, li
            border: 1px solid white-solid
            padding: 3px 6px
            border-radius: 4px
            margin-bottom: 4px
            cursor: pointer
            outline: 0

            &:last-child
                margin-bottom: 0

            &:hover, &:focus
                border-color: gold-base

        .disabled
            cursor: default

            &:hover, &:focus
                border-color: white-solid

    .popup
        display: none
        position: absolute
        width: 590px
        min-height: 92px
        z-index: 20

        &.opponent
            top: 100%
            bottom: auto

        .card
            float: left
            margin-right: 4px
            margin-bottom: 2px

        a
        label
        .hand-size
            display: inline-block
            margin: 0 10px 8px 4px

        .stat-controls
            display: inline-block
            width: 30%

    .stat-controls
        position: relative

        .controls
            display: none
            height: 100%
            position: absolute
            right: 2px
            text-align: right
            top: 0
            width: 100%

            button
                margin: 0 2px

        &:hover
            > :not(.controls)
                color: blue-core

            .controls
                display: block

    .playable
        cursor: pointer

    .bg
        position: absolute
        top: 0
        left: 0

    .deck, .discard, .identity
        position: relative
        height: 84px
        width: 60px
        border-radius: 4px

    .server-card
        position: relative
        min-height: 84px
        min-width: 60px

        &.shift
            margin-left: -36px

    .rfg
        margin-left: 16px
        margin-right: 16px

    .hand-container, .deck-container, .discard-container
        position: relative

    .hand-container
        z-index: 30

    .hand-controls
        display: inline-block

    .hand, .scored, .rfg
        height: 86px
        padding: 0

    .hand
        width: 384px
        margin-right: 0
        float: left

    .hand-expand
        float: right
        font-family: monospace
        user-select: none
        margin-left: 2px

    .hand-sort
        float: right
        clear: right
        user-select: none
        font-family: monospace
        margin-top: 2px
        margin-left: 2px

    .scored
        height: 116px

    .scored > .stats-area
        bottom: 0
        padding: 3px 6px
        position: absolute
        width: 100%

    .end-of-game-buttons
        float: right
        margin-top: 1em

    .card-wrapper
        display: inline-block
        margin-right: 4px
        transition(all 0.3s ease-in-out)

        &:last-child
            margin-right: 0

    .disable-transition
        transition: none

    .squeeze .card-wrapper
        position: absolute

    .name-area
        margin-bottom: 3px

    .stats-area
        font-size: .75rem
        line-height: 1.5rem

        .icon-grid
            margin-left: -6px

            > div
                display: inline-block
                padding-left: 6px
                width: 50%

    .start-game
        width: 750px
        animation: fadein 1.2s

        .ident img
            margin-top: 2px
            width: 214px
            height: 298px

        .ident img.selected
            box-shadow(0 0 3px 3px green-bright)
            border-radius: 9px

        .mulligan-me:after, .mulligan-op:after, .keep-me:after, .keep-op:after
            transition(all 0.2s ease-in-out)
            position: absolute
            z-index:1
            font-family:Arial,sans-serif
            font-size:2.5rem
            color: red-core
            background: alpha(black-solid, o-50)
            border:solid 4px red-core
            padding: 12px
            border-radius:5px
            transform: scale(1)
            transform-origin: 0 0
            opacity:0.9
            text-shadow: 0 0 2px red-core
            box-shadow: 0 0 2px red-core

        .keep-me:after, .keep-op:after
            content: "KEEP"
            transform: rotate(-54deg)

        .mulligan-me:after, .mulligan-op:after
            content: "MULLIGAN"
            transform: rotate(-54deg)

        .mulligan-me:after
            top:220px
            left:40px

        .mulligan-op:after
            top:220px
            right:-10px

        .keep-me:after
            top:180px
            left:70px

        .keep-op:after
            top:180px
            right:60px

        .vs
            font-weight: bold
            font-size: 1.125rem
            font-style: italic
            margin: 1em

        .contestants
            font-size: 2rem
            margin: 0
            flex: 1

        .intro-blurb
            font-size: 1rem
            font-style: italic
            margin-top: 3ex

        .start-hand
            margin: 2ex 0 0 0
            height: 150px
            overflow: hidden
            position: relative
            width: auto

            .card-back, .card-front
                backface-visibility: hidden
                position: absolute
                top: 0
                left: 0

            .card-back
                z-index: 2
                transform: rotateY(0deg)

            .card-front
                transform: rotateY(180deg)

            img.start-card
                height: 140px
                width: 100px

            .start-card-frame
                margin: 0 2px
                display: inline-block
                perspective: 1000px
                width: 100px
                height: 140px

            .start-card-frame.flip .flipper
                transform: rotateY(180deg)

            .flipper
                transition: 0.6s
                transform-style : preserve-3d
                position: relative

    .box
        display: flex
        overflow: hidden

        .column
            flex-direction: column
            align-content: stretch
            align-self: center
            flex: 1

    .stacked
        margin: 0px
        display-flex()

        .card-wrapper:not(:first-child)
            margin-left: -40px

    .hosted
        margin-left: 24px
        margin-top: -65px
        display-flex()

        .card-wrapper
            margin-top: 0px
            margin-bottom: 3px

        .card-wrapper:not(:first-child)
            margin-left: -20px

        .card-wrapper:last-child
            margin-right: 0px

        .stacked
            margin-top: 0px
            margin-bottom: 3px

            .card-wrapper:not(:first-child)
                margin-left: -40px

        .stacked:not(:first-child)
            margin-left: -20px

    .leftpane
        display-flex()
        flex-direction(column)
        justify-content(space-between)

        .inner-leftpane
            flex(1)
            display-flex()

            .left-inner-leftpane
                width: 201px
                margin-top: -5px
                margin-bottom: -5px
                display-flex()
                flex-direction(column)
                justify-content(space-between)

                > div
                    width: 100%

             .options-tabs
                display: flex
                align-items: center

             .tab.right
                margin-left: auto

            .right-inner-leftpane
                width: 186px
                justify-content(space-between)
                display-flex()
                flex-direction(column)

                > div
                    width: 100%
                    display-flex()
                    flex-direction(column)

                .panel
                    margin: 0

                .timestamp
                    span.pm
                        position: absolute
                        top: 0
                        right: 5px
                        padding: 2px
                        cursor: pointer
                        user-select: none

                    .timer
                        cursor: pointer

                    .timer.yellow
                        color: yellow-core
                    .timer.red
                        color: orange-dark
                    .timer.danger
                        animation: blinker .2s step-start infinite;
                    @keyframes blinker
                        0%
                            color: white-solid
                        50%
                            color: orange-dark

                .button-pane
                    .panel
                        padding: 8px
                        z-index: 20

                        .prompt-card-preview
                            text-align: center

                            div.card
                                width: 168px
                                height: 234.833px

                                >div:first-child
                                    display:inline
                                    width: 168px !important
                                    height: 234.833px

                                    >img.card
                                        width: 168px
                                        height: 234.833px

                    .run-button
                        position: relative

                        .servers-menu
                            left: 100%
                            bottom: 0
                            width: 120px
                            margin: 3px
                            z-index: 40

                    h4
                        text-align: center
                        margin-bottom: 10px

                    .info
                        text-align: center
                        margin: 0 0 5px 0
                        font-size: .625rem
                        font-style: italic

                    button
                        min-height: 1.75rem
                        height: auto
                        width: 100%
                        font-size: .75rem
                        margin: 0 0 5px 0
                        padding: 0 8px 1px

                        &:last-child
                            margin-bottom: 0

                    .credit-select
                        text-align: center
                        margin-bottom: 10px

                        select
                            margin-right: 5px

                    .encounter-info
                        width: 100%
                        margin: 6px 0px

    .centralpane
        flex(1)
        display-flex()
        flex-direction(column)
        min-width: 90px
        position:relative
        overflow-x:auto
        overflow-y:visible

        .card-wrapper
            margin: 3px 6px

        .card-wrapper
            margin: 3px 6px

        // Logic of z-indices
        // By default, z-index for cards is auto, which means that counters are not bound to cards and can be displayed on top of everything.
        // Once the card-wrapper is hovered, cards get a z-index of 0, which binds the counters to them and allows them to be obscured.
        .card-wrapper:hover .card:not(:hover), .stacked:hover .card:not(:hover)
            z-index:0

        // Then once both card-wrapper _and_ card are hovered, the z-index gets bumped to 1 to pull the card to the front.
        .card-wrapper:hover .card:hover, .stacked:hover .card:hover
            z-index: 1

        .outer-corp-board.overlap,.runner-board.overlap
            overflow: visible
            position: absolute
            pointer-events: none

            &.me
                bottom: 0
                width: 100%

            &.opponent
                top: 0
                width: 100%

        .runner-board
            flex(1)
            display-flex()
            flex-direction(column)

            > div
                display-flex()

                &:first-child
                    margin-top: auto

            .runner-centrals
                padding: 5px 0
                display-flex()

                .deck-container, .discard-container, .identity
                    margin-left: 16px
                    margin-right: 16px

        .runner-board.opponent
            opacity: 0.99

            > div:first-child
                margin-top: 0

            > div:last-child
                margin-bottom: auto

        .corp-board
            flex(1)
            display-flex()
            flex-direction(row-reverse)
            justify-content(flex-end)

            .server
                position: relative
                min-width: 84px
                margin: 0 4px
                transform(rotate(180deg))
                display-flex()
                flex-direction(column-reverse)
                justify-content(flex-end)
                align-items(center)

                .ices
                    position: relative
                    display-flex()
                    flex-direction(column-reverse)
                    justify-content(flex-end)
                    align-items(center)

                    .run-card
                        transform(rotate(180deg))

                        &:first-child
                            margin-top: 100px

                        &:not(:first-child)
                            margin-top: -42px
                            margin-left: 12px

                    .run-arrow
                        position: relative
                        top: 20px
                        animation: fadein 0.5s

                        > div
                            position: absolute
                            left: 50%
                            top: 0
                            bottom: -70px
                            width: 16px
                            background-color: alpha(yellow-core, o-70)
                            transform(translateX(-50%))
                            border-radius: 0 0 4px 4px
                            -webkit-filter: drop-shadow(0px 0px 10px alpha(black-solid, o-60));
                            filter: drop-shadow(0px 0px 10px alpha(black-solid, o-60));

                            &:before
                                content: ""
                                display: block
                                position: absolute
                                right: 8px
                                width: 0
                                height: 0
                                border-left: 16px solid transparent
                                border-right: 16px solid transparent
                                bottom: 100%
                                left: 50%
                                transform(translateX(-50%))
                                border-bottom: 22px solid alpha(yellow-core, o-70)
                                -webkit-filter: drop-shadow(0px 0px 10px alpha(black-solid, o-60));
                                filter: drop-shadow(0px 0px 10px alpha(black-solid, o-60));

                        > div.movement
                            background-color: alpha(yellow-light, o-70)

                            &:before
                                border-bottom: 22px solid alpha(yellow-light, o-70)

                        > div.approach
                            background-color: alpha(yellow-core, o-70)

                            &:before
                                border-bottom: 22px solid alpha(yellow-core, o-70)

                        > div.encounter
                            background-color: alpha(gold-base, o-70)

                            &:before
                                border-bottom: 22px solid alpha(gold-base, o-70)

                    .ice
                        margin: -7px 0
                        transform(rotate(90deg))
                        cursor: pointer

                        .strength
                            bottom: unset
                            left: unset
                            right: 3px
                            top: 3px

                        &.host
                            margin-bottom: 15px
                            margin-top: 5px;
                            height: 84px;
                            position: relative;

                        .run-arrow
                            top: auto
                            bottom: 42px
                            left: 57px
                            transform: rotate(-90deg)

                    .hosted
                        margin-top: -69px
                        flex-direction(column)

                        .card-frame
                            margin-left: 0
                            transform(rotate(90deg))

                            &:not(:first-child)
                                margin-top: -42px

                            .counters
                                transform(rotate(-90deg))

                            .strength
                                transform(initial)

                        .abilities, .runner-abilities, .corp-abilities
                            top: auto
                            bottom: 100%
                            left: 0
                            margin: 6px -1px
                            transform(initial)

                    .strength
                        transform(rotate(90deg))

                    .additional-subtypes
                        transform(rotate(90deg), translateX(100%))
                        transform-origin(100% 0)

                    .icon
                        transform(rotate(90deg))

                    .counter
                        transform(rotate(90deg))

                    .abilities, .runner-abilities, .corp-abilities
                        left: 100%
                        margin: -1px 6px

                    .abilities
                        top: 0
                        bottom: auto
                        transform(rotate(90deg) translateY(-100%))
                        transform-origin(0 0)

                    .runner-abilities, .corp-abilities
                        bottom: 0
                        transform(rotate(-90deg) translateY(100%))
                        transform-origin(0 100%)

                .content
                    position: relative
                    min-height: 84px
                    margin: 5px
                    transform(rotate(180deg))
                    display-flex()

        .corp-board.opponent .server
            transform(initial)

            .content
                transform(initial)

            .icon
                transform(rotate(-90deg))

            .hosted

                .abilities, .runner-abilities, .corp-abilities
                    top: 100%
                    bottom: auto

            .ices
                opacity: 0.99

                .additional-subtypes
                    transform(rotate(-90deg), translateY(-100%))

                .hosted

                    .card-frame
                        transform(rotate(-90deg))

                    .counters
                        transform(rotate(90deg))

                    .strength
                        transform(initial)

                .counter
                    transform(rotate(-90deg))

                .strength
                    transform(rotate(-90deg))

                .run-card
                    transform(initial)

    .right-pane
        position: relative
        display-flex()
        flex-direction(column)
        z-index:10

        .card-zoom
            width: 220px
            height: 307px
            margin-top: 5px
            margin-right: 5px
            position: relative
            transition(opacity 0.2s ease-in-out)
            opacity: 0

            .card-preview
                width: 100%
                height: 100%

                .text
                    height: 195px

        .card-zoom.fade
            opacity: 1

        // Card implementation div
        .implementation
            width: 150px
            position: absolute
            top: 0
            right: 224px
            text-align: right
            font-size: .75rem
            line-height: .75rem

            .unimplemented
                color: red-core
                font-style: italic

            .impl-msg
                color: gold-base

        .content-pane
            position:absolute
            bottom: 0px

            .selector
                position: absolute
                top: 0px
                height:24px
                left: 0
                right: 0
                margin: 0
                padding-top: 2px

                >a:not(:first-child)
                    margin-left:3ex

            &>.content
                position: absolute
                top: 24px
                bottom: 0px
                width: 100%
                flex(1)
                margin: 0
                min-height: 20px

                >div
                    animation: fadein 0.5s
                    overflow-x: clip
                    overflow-y: auto
                    height: 100%

                .log
                    display-flex()
                    flex-direction(column)
                    // width: 225px
                    // position: absolute
                    // top: 317px
                    // bottom: 0

                    .username
                        font-size: .875rem
                        margin-top: -.0875rem
                        line-height: .91rem

                    .avatar
                        width: 28px
                        height: 28px

                    .messages
                        flex(1)
                        overflow: auto !important
                        -webkit-overflow-scrolling: touch

                        div
                            animation: fadein 0.5s

                    .log-input form input, .indicate-action, .show-decklists
                        width: 100%

                    .command-matches-container
                        position: absolute !important
                        bottom: 24px
                        right: 100%

                        ::-webkit-scrollbar
                            width 0

                        ul.command-matches
                            list-style-type: none
                            overflow-x: clip
                            overflow-y: auto
                            max-height: 300px
                            white-space: nowrap
                            width: max-content
                            scrollbar-width: none

                            li.command-match.highlight span
                                color: gold-base
                                cursor: pointer
