// Help
.help nav li
    padding-left: 3px
    font-weight: bold

.help nav li li
    padding-left: 8px
    font-weight: normal

.help

    > h3
        margin-top: -35px
        padding-top: 35px
        -webkit-background-clip: content-box
        background-clip: content-box

    > h3:target
        animation: highlight 1.5s ease

    > h4
        margin-top: -35px
        padding-top: 35px
        -webkit-background-clip: content-box
        background-clip: content-box

    > h4:target
        animation: highlight 1.5s ease

    li
        padding-left: 20px
        list-style-type: none
