radius(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius

vertical-gradient(startColor, endColor)
  background: endColor
  background: -moz-linear-gradient(startColor, endColor)
  background: -webkit-gradient(linear, left top, left bottom, from(startColor), to(endColor))

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: all 0.2s ease-out
  -o-transition: arguments
  transition: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -o-transform: arguments
  transform: arguments

background-size()
  -webkit-background-size: arguments
  -moz-background-size: arguments
  -o-background-size: arguments
  background-size: arguments

ellipsis()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

cover-img(img, opacity=0.7)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -10
  background-image: img
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-position: 50% 50%
  opacity: opacity

display-flex()
  display: -webkit-box
  display: -webkit-flexbox
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  display: flex

flex()
   -webkit-box-flex: arguments
   -webkit-flex: arguments
   -moz-box-flex: arguments
   -ms-flex: arguments
   flex: arguments

flex-direction()
  -webkit-box-direction: arguments
  -webkit-flex-direction: arguments
  -moz-box-direction: arguments
  -ms-flex-direction: arguments
  flex-direction: arguments

justify-content()
  -webkit-justify-content: arguments
  justify-content: arguments

align-items()
  -webkit-align-items: arguments
  align-items: arguments

align-content()
  -webkit-align-content: arguments
  align-content: arguments

flex-wrap()
  -webkit-flex-wrap: arguments
  flex-wrap: arguments

flex-flow()
  -webkit-flex-flow: arguments
  flex-flow: arguments

columns(count=2, gap=10px)
  -moz-column-count: count
  -moz-column-gap: gap
  -webkit-column-count: count
  -webkit-column-gap: gap
  column-count: count
  column-gap: gap