nav ul
    list-style-type: none

.topnav
    position: absolute
    z-index: 10
    top: 0
    left: 0
    right: 0
    color: grey
    border-bottom: 1px solid rgba(39, 56, 76, 0.9)
    height: 32px

    #left-menu, #right-menu
        margin: 0 10px

        > ul li
            margin: 0 10px

            &.usermenu
                margin: 0

                .dropdown-menu
                    margin-right: -5px

    li, #status
        display: inline-block
        height: 30px
        line-height: 29px

        a
            color: white

            &:hover
                color: orange

    li.active a
        color: orange

    li.active#admin-nav a
        margin-left: 30px
        color: orange

    #admin-nav
        margin-left: 30px

        a
            margin-left: 30px
            color: #ebec74

            &:hover
                color: orange

    li.active#features-nav a,
    li.active#users-nav a
        color: orange

    #features-nav a,
    #users-nav a
        color: #ebec74

        &:hover
            color: orange

    .dropdown-menu a
        line-height: 20px

        &:hover
            color: white

#left-menu
    float: left

#right-menu, #status
    float: right

#status
    .float-right
        padding-right: 12px
        border-right: 1px solid white

    .spectators
        display: none
        position: absolute
        padding: 4px 8px
        top: 36px
        border-radius: 4px
        min-width: 180px

    .player
        display: block

    .spectators-count
        position: relative
        cursor: pointer

        &:hover .spectators
            display: block

    .concede-button
        margin-right: 12px

    .mute-button
        margin-left: 12px

    .stack-servers-button
        margin-left: 12px

    .replay-button
        margin-left: 12px

