// Grayscale
transparent = hsla(0, 0%, 0%, 0)

black-solid = hsl(0, 0%, 0%)
gray-dark = hsl(0, 0%, 15%)
gray-mid = hsl(0, 0%, 30%)
gray-core = hsl(210, 0%, 60%) //NSG Sunny
gray-light = hsl(0, 0%, 80%)
white-solid = hsl(0, 0%, 100%)

//Reds
red-dark = hsl(0, 100%, 25%) // Apex
red-core =hsl(0, 100%, 50%)
red-light = hsl(5, 70%, 49%)

crimson-core = hsl(339, 51%, 40%) // NSG Jinteki

//Oranges
orange-dark = hsl(16, 100%, 55%)
orange-core = hsl(19, 75%, 55%) // NSG Anarch

// Golds
//Mainly Jinteki.net button styles
gold-dark = hsl(39, 100%, 30%)
gold-mid = hsl(39, 100%, 39%)
gold-base = hsl(39, 100%, 50%)
gold-light = hsl(41, 83%, 65%)
gold-menu = hsl(45, 100%, 25%)

//Yellows
yellow-dark = hsl(55, 44%, 40%) // NSG Adam
yellow-core = hsl(52, 100%, 50%) //NSG NBN
yellow-light = hsl(61, 76%, 69%)

//Greens
green-dark = hsl(120, 11%, 45%) //NSG Weyland Base
green-mid =  hsl(120, 12%, 36%)
green-core = hsl(118, 42%, 49%) //NSG Shaper
green-bright = hsl(120, 61%, 50%)

//Blues
blue-dark = hsl(212, 32%, 23%)
blue-mid = hsl(197, 100%, 23%) //NSG NBN Secondary
blue-core = hsl(224, 50%, 50%) //NSG Criminal
blue-light = hsl(199, 100%, 50%)

//Purples
purple-dark = hsl(279, 100%, 20%)
purple-core = hsl(272, 36%, 50%) // NSG Haas-Bioroid
