//Transparency Steps: Keep to steps of 0.10
transparent-10 = 0.10
transparent-20 = 0.20
transparent-30 = 0.30
transparent-40 = 0.30
transparent-50 = 0.30
transparent-60 = 0.60
transparent-70 = 0.70
transparent-80 = 0.80
transparent-90 = 0.90