@require "transparency"
// Grayscale
transparent = hsla(0, 0%, 0%, 0)

black = hsl(0, 0%, 0%)
dark-gray = hsl(0, 0%, 15%)
mid-gray = hsl(0, 0%, 30%)
gray = hsl(0, 0%, 50%)
light-gray = hsl(0, 0%, 80%)
white = hsl(0, 0%, 100%)



//Reds
red =hsl(0, 100%, 50%)
crimson = hsl(348, 83%, 47%)
maroon = hsl(0, 100%, 25%)
note-a = hsl(6, 75%, 49%)
blunder = hsl(2, 58%, 45%)

transparent-red = hsla(0, 100%, 50%, 0.85)
//Oranges
orange = hsl(39, 100%, 50%)
orangered = hsl(16, 100%, 50%)
sienna = hsl(19, 56%, 40%)
anarch-orange = hsl(24, 100%, 40%)
mistake = hsl(33, 79%, 54%)

transparent-orange = hsla(39, 100%, 50%, 0.35)
transparent-orange-bright = hsla(39, 100%, 50%, 0.9)
transparent-gold = hsla(39, 100%, 39%, 0.9)
encounter = hsla(39, 100%, 50%, 0.7)

//Yellows
yellow = hsl(60, 100%, 50%)
light-gold = hsl(61, 76%, 69%)
gold = hsl(51, 100%, 50%)
inaccuracy = hsl(41, 83%, 65%)
approach = hsla(39, 100%, 86%, 0.7)
run-arrow = approach

//Greens
lawngreen = hsl(90, 100%, 49%)
limegreen = hsl(120, 61%, 50%)
darkgreen = hsl(120, 100%, 20%)
olive = hsl(60, 100%, 25%)
note-c = hsl(120, 100%, 55%)
shaper-green = hsl(120, 60%, 40%)
good = hsl(80, 45%, 51%)

transparent-light-green = hsla(141, 32%, 23%, 0.82)
transparent-green = hsla(120, 61%, 50%, 0.85)
transparent-dark-green = hsla(120, 61%, 40%, 0.86)

//Blues
brilliant = hsl(178, 73%, 39%)

silver-blue = hsl(195, 36%, 71%)
core-blue = hsl(199, 100%, 50%)
light-blue = hsl(195, 51%, 41%)

lightslategray = hsl(210, 14%, 53%)

dark-blue-grey = hsl(212, 32%, 23%)

royalblue = hsl(225, 73%, 57%)

note-b = hsl(210, 100%, 35%)
criminal-blue = hsl(204, 100%, 40%)

blue-grey = hsla(213, 24%, 27%, 0.8)
transparent-darkblue = hsla(240, 100%, 20%, 0.85)
transparent-blue = hsla(212, 32%, 23%, 0.82)
transparent-lightblue = hsla(199, 100%, 50%, 0.85)

//Indigo/Violets
blueviolet = hsl(271, 76%, 53%)
note-d = hsl(271, 100%, 29%)
transparent-purple = hsla(279, 100%, 20%, 0.85)
