// Colours

blue = #00AEFF
text-color = #333

orange = #FFA500
transparent-orange = rgba(255, 165, 0, 0.35)
transparent-blue = rgba(39, 56, 76, 0.82)
transparent-lightblue = rgba(0, 174, 255, 0.85)
transparent-green = rgba(50, 205, 50, 0.85)
transparent-red = rgba(255, 0, 0, 0.85)
transparent-orange-bright = rgba(255, 165, 0, 0.90)
transparent-gold = rgba(200, 130, 0, 0.90)

light-grey= #ddd
grey= #999
dark-grey = #383838
