// Colours

blue = #00AEFF
text-color = #333


dark-background= rgba(39, 56, 76, 0.9)
background-color = #eaeaea
border-color = #ddd
shadow-color = #ddd

dark-border = #383838
light-text= #e5e5e5
light-grey= #ddd
grey = #999
dark-grey= #666
light-background = #F7F7F7
dark-background = #383838
