// Win Message Box
.win.centered
    position: fixed
    top: 30%
    left: 35%
    width: 40%
    text-align: center
    margin-top: -50px
    margin-left: -100px
    padding: 15px
    border: 1px solid #ffa500
    z-index: 30
    border-radius: 4px

.win-right
    position: absolute
    top: 0px
    right: -8px
    padding: 0
    font-size: 12px
    line-height: 14px
    height: 15px
    width: 15px
    background-color: transparent
    border-radius: 1px

    &:hover
        background-color: transparent-orange
        border-color: orange

.win.table
    border: 1px solid #ffa500
    width: 100%
    text-align: left

.win.th
    border-bottom: 1px solid #ffa500

.page-container
    width: 1000px
    margin: 0 auto

    .content-page
        margin-top: 9px
